

 <section id="product-details">
	<h3 id="bundle_title">Your Bundle</h3>
	<h4 class="nmb"><span id="bundle_price">$36.00</span><span class="strikethrough" id="bundle_compare_at_price"> $54.00</span></h4>
	<h4 class="text-green nm"><span id="bundle_savings">33%</span> Bundles Savings!</h4>
	<p class="subscript">Based on your answers, your closet needs <span id="bundle_description"></span></p>
   <div class="choose-your-colors">
   <h4 class="space-bottom tac">Choose Your Colors:</h4>
   <section id="bundle_flats" class="flex-container-no" style="display: none;">
      <div class="half border-green">
        <img src="{{'flatblack.jpg' | asset_url}}" class="fw black-color-choice" />
        <img src="{{'flatbeige.jpg' | asset_url}}" class="fw beige-color-choice" style="display: none;" />

      </div>
      <div class="tac half">
        <h4 class="text-green nm">Flats</h4>
     	  <img src="{{'Icon-ballet-results.png' | asset_url }}" class="bundle-icon">
     	  <div class="bundle-color-selection black highlight" data-variant-id-medium="18247857860" data-variant-id-large="18247857988" data-variant-id-small="18247857668"></div>
     	  <div class="bundle-color-selection beige" data-variant-id-medium="18247857924" data-variant-id-large="18247858052" data-variant-id-small="19347385476"></div>
      </div>
   </section>
   <section id="bundle_flats2" class="flex-container-no" style="display: none;">
      <div class="half border-green">
        <img src="{{'flatblack.jpg' | asset_url}}" class="fw black-color-choice" />
         <img src="{{'flatbeige.jpg' | asset_url}}" class="fw beige-color-choice" style="display: none;" />
      </div>
      <div class="tac half">
        <h4 class="text-green nm">Flats 2</h4>
   	    <img src="{{'Icon-ballet-results.png' | asset_url }}" class="bundle-icon">
   	    <div class="bundle-color-selection black highlight" data-variant-id-medium="18247857860" data-variant-id-large="18247857988" data-variant-id-small="18247857668"></div>
        <div class="bundle-color-selection beige" data-variant-id-medium="18247857924" data-variant-id-large="18247858052" data-variant-id-small="19347385476"></div>
      </div>
   </section>
   <section id="bundle_flats3" class="flex-container-no" style="display: none;">
   	 <div class="half border-green">
        <img src="{{'flatblack.jpg' | asset_url}}" class="fw black-color-choice" />
        <img src="{{'flatbeige.jpg' | asset_url}}" class="fw beige-color-choice" style="display: none;" />
      </div>
      <div class="tac half">
        <h4 class="text-green nm">Flats 3</h4>
        <img src="{{'Icon-ballet-results.png' | asset_url }}" class="bundle-icon">
        <div class="bundle-color-selection black highlight" data-variant-id-medium="18247857860" data-variant-id-large="18247857988" data-variant-id-small="18247857668"></div>
        <div class="bundle-color-selection beige" data-variant-id-medium="18247857924" data-variant-id-large="18247858052" data-variant-id-small="19347385476"></div>
      </div>
   </section>
   <section id="bundle_flats4" class="flex-container-no" style="display: none;">
      <div class="half border-green">
        <img src="{{'flatblack.jpg' | asset_url}}" class="fw black-color-choice" />
        <img src="{{'flatbeige.jpg' | asset_url}}" class="fw beige-color-choice" style="display: none;" />
      </div>
      <div class="tac half">
        <h4 class="text-green nm">Flats 4</h4>
        <img src="{{'Icon-ballet-results.png' | asset_url }}" class="bundle-icon">
        <div class="bundle-color-selection black highlight" data-variant-id-medium="18247857860" data-variant-id-large="18247857988" data-variant-id-small="18247857668"></div>
        <div class="bundle-color-selection beige" data-variant-id-medium="18247857924" data-variant-id-large="18247858052" data-variant-id-small="19347385476"></div>
      </div>
   </section>
   <section id="bundle_wloafer" class="flex-container-no" style="display: none;">
      <div class="half border-green">
        <img src="{{'BlackLoafer.jpg' | asset_url}}" class="fw black-color-choice"/>
        <img src="{{'PinkLoafer.jpg' | asset_url}}" class="fw rose-color-choice" style="display: none;"/>
        <img src="{{'GreenLoafer.jpg' | asset_url}}" class="fw green-color-choice" style="display: none;"/>
        <img src="{{'BlueLoafer.jpg' | asset_url}}" class="fw blue-color-choice" style="display: none;"/>
      </div>
      <div class="tac half">
        <h4 class="text-green nm">Loafer</h4>
   	    <img src="{{'Icon-loafers-results.png' | asset_url }}" class="bundle-icon">
   	    <div class="bundle-color-selection black highlight" data-variant-id-small="18250901828" data-variant-id-medium="18250902084" data-variant-id-large="18250902276"></div>
   	    <div class="bundle-color-selection rose" data-variant-id-small="31001775046733" data-variant-id-medium="31001775079501" data-variant-id-large="31001775112269"></div>
   	    <div class="bundle-color-selection green" data-variant-id-small="31001768788045" data-variant-id-medium="31001768984653" data-variant-id-large="31001769017421"></div>
   	    <div class="bundle-color-selection blue" data-variant-id-small="31001769410637" data-variant-id-medium="31001769443405" data-variant-id-large="31001769476173"></div>
      </div>
   </section>
   <section id="bundle_wloafer2" class="flex-container-no" style="display: none;">
      <div class="half border-green">
        <img src="{{'BlackLoafer.jpg' | asset_url}}" class="fw black-color-choice"/>
        <img src="{{'PinkLoafer.jpg' | asset_url}}" class="fw rose-color-choice" style="display: none;"/>
        <img src="{{'GreenLoafer.jpg' | asset_url}}" class="fw green-color-choice" style="display: none;"/>
        <img src="{{'BlueLoafer.jpg' | asset_url}}" class="fw blue-color-choice" style="display: none;"/>
      </div>
      <div class="tac half">
        <h4 class="text-green nm">Loafer 2</h4>
        <img src="{{'Icon-loafers-results.png' | asset_url }}" class="bundle-icon">
        <div class="bundle-color-selection black highlight" data-variant-id-small="18250901828" data-variant-id-medium="18250902084" data-variant-id-large="18250902276"></div>
        <div class="bundle-color-selection rose" data-variant-id-small="31001775046733" data-variant-id-medium="31001775079501" data-variant-id-large="31001775112269"></div>
        <div class="bundle-color-selection green" data-variant-id-small="31001768788045" data-variant-id-medium="31001768984653" data-variant-id-large="31001769017421"></div>
        <div class="bundle-color-selection blue" data-variant-id-small="31001769410637" data-variant-id-medium="31001769443405" data-variant-id-large="31001769476173"></div>
      </div>
   </section>
   <section id="bundle_wsneaker" class="flex-container-no"style="display: none;">
      <div class="half border-green">
        <img src="{{'BlackSneaker.jpg' | asset_url}}" class="fw black-color-choice"/>
        <img src="{{'PinkSneaker.jpg' | asset_url}}" class="fw rose-color-choice" style="display: none;"/>
        <img src="{{'GreenSneaker.jpg' | asset_url}}" class="fw green-color-choice" style="display: none;"/>
        <img src="{{'BlueSneaker.jpg' | asset_url}}" class="fw blue-color-choice" style="display: none;" />   
      </div>
      <div class="tac half">
         <h4 class="text-green nm">Sneaker</h4>
     	   <img src="{{'Icon-sneakers-results.png' | asset_url }}" class="bundle-icon">
       	 <div class="bundle-color-selection black highlight" data-variant-id-small="18250940100" data-variant-id-medium="18250940804" data-variant-id-large="18250941956"></div>
       	 <div class="bundle-color-selection rose" data-variant-id-small="31001784582221" data-variant-id-medium="31001784614989" data-variant-id-large="31001784647757"></div>
       	 <div class="bundle-color-selection green" data-variant-id-small="31001784057933" data-variant-id-medium="31001784090701" data-variant-id-large="31001784320077"></div>
       	 <div class="bundle-color-selection blue" data-variant-id-small="31001784877133" data-variant-id-medium="31001784909901" data-variant-id-large="31001784942669"></div>
      </div>
   </section>
    <section id="bundle_wsneaker2" class="flex-container-no"style="display: none;">
      <div class="half border-green">
        <img src="{{'BlackSneaker.jpg' | asset_url}}" class="fw black-color-choice"/>
        <img src="{{'PinkSneaker.jpg' | asset_url}}" class="fw rose-color-choice" style="display: none;"/>
        <img src="{{'GreenSneaker.jpg' | asset_url}}" class="fw green-color-choice" style="display: none;"/>
        <img src="{{'BlueSneaker.jpg' | asset_url}}" class="fw blue-color-choice" style="display: none;" />   
      </div>
      <div class="tac half">
         <h4 class="text-green nm">Sneaker 2</h4>
         <img src="{{'Icon-sneakers-results.png' | asset_url }}" class="bundle-icon">
         <div class="bundle-color-selection black highlight" data-variant-id-small="18250940100" data-variant-id-medium="18250940804" data-variant-id-large="18250941956"></div>
         <div class="bundle-color-selection rose" data-variant-id-small="31001784582221" data-variant-id-medium="31001784614989" data-variant-id-large="31001784647757"></div>
         <div class="bundle-color-selection green" data-variant-id-small="31001784057933" data-variant-id-medium="31001784090701" data-variant-id-large="31001784320077"></div>
         <div class="bundle-color-selection blue" data-variant-id-small="31001784877133" data-variant-id-medium="31001784909901" data-variant-id-large="31001784942669"></div>
      </div>
   </section>
   <section id="bundle_heels" class="flex-container-no" style="display: none;">
      <div class="half border-green">
        <img src="{{'heelblack.jpg' | asset_url}}" class="fw black-color-choice" />
        <img src="{{'heelbeige.jpg' | asset_url}}" class="fw beige-color-choice" style="display: none;" />
      </div>
      <div class="tac half">
         <h4 class="text-green nm">Heels</h4>
   	     <img src="{{'Gekks-Icon-Heels-Socks.png' | asset_url }}" class="bundle-icon" style="margin: auto;">
   	     <div class="bundle-color-selection black highlight" data-variant-id-medium="702715527185" data-variant-id-large="702715592721" data-variant-id-small="702715461649"></div>
         <div class="bundle-color-selection beige" data-variant-id-medium="702715559953" data-variant-id-large="702715625489" data-variant-id-small="702715494417"></div>
      </div>
   </section>
   <section id="bundle_heels2" class="flex-container-no" style="display: none;">
      <div class="half border-green">
        <img src="{{'heelblack.jpg' | asset_url}}" class="fw black-color-choice" />
        <img src="{{'heelbeige.jpg' | asset_url}}" class="fw beige-color-choice" style="display: none;" />
      </div>
      <div class="tac half">
         <h4 class="text-green nm">Heels 2</h4>
         <img src="{{'Gekks-Icon-Heels-Socks.png' | asset_url }}" class="bundle-icon" style="margin: auto;">
         <div class="bundle-color-selection black highlight" data-variant-id-medium="702715527185" data-variant-id-large="702715592721" data-variant-id-small="702715461649"></div>
         <div class="bundle-color-selection beige" data-variant-id-medium="702715559953" data-variant-id-large="702715625489" data-variant-id-small="702715494417"></div>
      </div>
   </section>
   <section id="bundle_mloafer" class="flex-container-no" style="display: none;">
      <div class="half border-green">
        <img src="{{'placeholder.png' | asset_url}}" class="fw black-color-choice"/>
        <img src="{{'placeholder.png' | asset_url}}" class="fw rose-color-choice" style="display: none;"/>
        <img src="{{'placeholder.png' | asset_url}}" class="fw green-color-choice" style="display: none;"/>
        <img src="{{'placeholder.png' | asset_url}}" class="fw blue-color-choice" style="display: none;" />   
      </div>
      <div class="tac half">
         <h4 class="text-green nm">Men's Loafers</h4>
   	     <img src="{{'Icon-loafers-results.png' | asset_url}}" class="bundle-icon">
   	     <div class="bundle-color-selection black highlight" data-variant-id-small="18249609860" data-variant-id-medium="18249610628" data-variant-id-large="18249611396"></div>
   	     <div class="bundle-color-selection green" data-variant-id-small="31001863848013" data-variant-id-medium="31001863880781" data-variant-id-large="31001863913549"></div>
   	     <div class="bundle-color-selection blue" data-variant-id-small="31001864142925" data-variant-id-medium="31001864175693" data-variant-id-large="31001864208461"></div>
      </div>
   </section>
    <section id="bundle_mloafer2" class="flex-container-no" style="display: none;">
      <div class="half border-green">
        <img src="{{'placeholder.png' | asset_url}}" class="fw black-color-choice"/>
        <img src="{{'placeholder.png' | asset_url}}" class="fw rose-color-choice" style="display: none;"/>
        <img src="{{'placeholder.png' | asset_url}}" class="fw green-color-choice" style="display: none;"/>
        <img src="{{'placeholder.png' | asset_url}}" class="fw blue-color-choice" style="display: none;" />   
      </div>
      <div class="tac half">
         <h4 class="text-green nm">Men's Loafers 2</h4>
         <img src="{{'Icon-loafers-results.png' | asset_url}}" class="bundle-icon">
         <div class="bundle-color-selection black highlight" data-variant-id-small="18249609860" data-variant-id-medium="18249610628" data-variant-id-large="18249611396"></div>
         <div class="bundle-color-selection green" data-variant-id-small="31001863848013" data-variant-id-medium="31001863880781" data-variant-id-large="31001863913549"></div>
         <div class="bundle-color-selection blue" data-variant-id-small="31001864142925" data-variant-id-medium="31001864175693" data-variant-id-large="31001864208461"></div>
      </div>
   </section>
   <section id="bundle_msneaker" class="flex-container-no" style="display: none;">
      <div class="half border-green">
        <img src="{{'placeholder.png' | asset_url}}" class="fw black-color-choice"/>
        <img src="{{'placeholder.png' | asset_url}}" class="fw rose-color-choice" style="display: none;"/>
        <img src="{{'placeholder.png' | asset_url}}" class="fw green-color-choice" style="display: none;"/>
        <img src="{{'placeholder.png' | asset_url}}" class="fw blue-color-choice" style="display: none;" />   
      </div>
      <div class="tac half">
         <h4 class="text-green nm">Men's Sneakers</h4>
   	    <img src="{{'Icon-sneakers-results.png' | asset_url}}" class="bundle-icon">
   	    <div class="bundle-color-selection black highlight" data-variant-id-small="18249077252" data-variant-id-medium="18249078276" data-variant-id-large="18249079492"></div>
   	    <div class="bundle-color-selection green" data-variant-id-small="31001872400461" data-variant-id-medium="31001872433229" data-variant-id-large="31001872465997"></div>
   	    <div class="bundle-color-selection blue" data-variant-id-small="31001875152973" data-variant-id-medium="31001875185741" data-variant-id-large="31001875218509"></div>
      </div>
   </section>
    <section id="bundle_msneaker2" class="flex-container-no" style="display: none;">
      <div class="half border-green">
        <img src="{{'placeholder.png' | asset_url}}" class="fw black-color-choice"/>
        <img src="{{'placeholder.png' | asset_url}}" class="fw rose-color-choice" style="display: none;"/>
        <img src="{{'placeholder.png' | asset_url}}" class="fw green-color-choice" style="display: none;"/>
        <img src="{{'placeholder.png' | asset_url}}" class="fw blue-color-choice" style="display: none;" />   
      </div>
      <div class="tac half">
         <h4 class="text-green nm">Men's Sneakers 2</h4>
        <img src="{{'Icon-sneakers-results.png' | asset_url}}" class="bundle-icon">
        <div class="bundle-color-selection black highlight" data-variant-id-small="18249077252" data-variant-id-medium="18249078276" data-variant-id-large="18249079492"></div>
        <div class="bundle-color-selection green" data-variant-id-small="31001872400461" data-variant-id-medium="31001872433229" data-variant-id-large="31001872465997"></div>
        <div class="bundle-color-selection blue" data-variant-id-small="31001875152973" data-variant-id-medium="31001875185741" data-variant-id-large="31001875218509"></div>
      </div>
   </section>
   <select id="custom-pack-size" class="fw">
     <option value="small">small</option>
     <option value="medium" selected>medium</option>
     <option value="large">large</option>
   </select> 
  <div id="add-cart-custom" class="background-green text-white clickable"><span>add to cart</span></div>
</section>
</div>
<style>
	#add-cart-custom { 
    padding: 10px;
    margin: 15px auto;
    text-align: center;
  }
  .space-bottom { margin-bottom: 30px; }
  section.flex-container-no { margin: 10px; }
  .half { padding: 10px !important; }
	#bundle_price { margin-right: 5px; }
	.rose { background-color: #efc3be; }
	.green { background-color: #0ad4c4; }
	.blue { background-color: #1c7baa; }
	.beige { background-color: #F9F2ED; }
	.black { background-color: #000; }
	.bundle-color-selection {
		width: 25px; 
		height: 25px; 
		border-radius: 100%; 
		cursor: pointer;
    display: inline-block;
		border: 2px solid white; 
	}
	.highlight {border: 2px solid darkgray;}
	.bundle-icon { max-width: 65px; display: block; margin: -10px auto; }
  @media only screen and (max-width: 799px) {
  #product form {
      display: inherit;
      width: 96% !important;
      margin: 20px auto;
      text-align: center;
  }
#product-images {
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}
#featured-image {
    width: 100%;
    max-width: 400px;
}
}
@media only screen and (min-width: 800px) {
  .choose-your-colors{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
  }
  .space-bottom {
    display: block;
    width: 100%;
}
.choose-your-colors section.flex-container-no {
    margin: 10px;
    width: 47%;
}
#add-cart-custom { width: 80%; } #custom-pack-size {
    max-width: 80%;
    text-align: center;
    margin: 20px auto 0;
}
}
@media only screen and (max-width: 799px) and (min-width: 589px) {
#thumbnails li img {
    width: 75px !important;
}
}
@media only screen and (max-width: 588px) {
#thumbnails li img {
    width: 40px !important;
}
}
</style>
	
<script>
  $(document).ready(function () {
    if ($(window).width() >= 800) {
      console.log('hit')
      $('.choose-your-colors').insertBefore('.endorsements-features')
    }


    })
	var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
    }
};

	$('.bundle-color-selection').click(function() {
		$(this).addClass('highlight').siblings('.bundle-color-selection').removeClass('highlight'); 
    if ($(this).hasClass('black')) {
      $(this).parent().siblings().children('.black-color-choice').show().siblings().hide(); 
    }
    else if ($(this).hasClass('blue')) {
      $(this).parent().siblings().children('.blue-color-choice').show().siblings().hide(); 
    }
    else if ($(this).hasClass('rose')) {
      $(this).parent().siblings().children('.rose-color-choice').show().siblings().hide(); 
    }
    else if ($(this).hasClass('green')) {
      $(this).parent().siblings().children('.green-color-choice').show().siblings().hide(); 
    }
    else if ($(this).hasClass('beige')) {
      $(this).parent().siblings().children('.beige-color-choice').show().siblings().hide(); 
    }
	}); 

	var pack_id = getUrlParameter('pack')
	var title = ""
	var price = ""
	var savings = ""
	var description = ""
	var photo_collection = ""
	var mloafers = 0 
  if (pack_id >= 1 && pack_id <=11) {
  	switch (pack_id) {
  		case "1":
  			title = "The Trial Pack"
  			price = "$48.00"
  			compare_at = "$72.00"
  			savings = "33%"
  			description = "one pair of flats, one pair of heels, one pair of loafers, and one pair of sneakers."
  			photo_collection = ".photo-1"	
  			$('#bundle_wloafer, #bundle_wsneaker, #bundle_flats, #bundle_heels').show()		
  			break;
  		case "2":
  			title = "The Office Pack"
  			price = "$48.00"
  			compare_at = "$72.00"
  			savings = "33%"
  			description = "two pairs of flats and two pairs of heels."
  			photo_collection = ".photo-2"
  			$('#bundle_flats, #bundle_flats2, #bundle_heels, #bundle_heels2').show(); 	
  			break;
  		case "3":
  			title = "The Metropolitan Pack"
  			price = "$48.00"
  			compare_at = "$72.00"
  			savings = "33%"
  			description = "two pairs of flats, one pair of loafers, and one pair of sneakers."
  			$('#bundle_flats, #bundle_flats2, #bundle_wloafer, #bundle_wsneaker').show(); 	
  			photo_collection = ".photo-3"
  			break;
  		case "4":
  			title = "The Men’s Closet Pack"
  			price = "$48.00"
  			compare_at = "$72.00"
  			savings = "33%"
  			description = "two pairs of men's loafers, and two pairs of men's sneakers."
  			$('#bundle_mloafer, #bundle_msneaker, #bundle_msneaker2, #bundle_mloafer2').show(); 
  			photo_collection = ".photo-4"
  			break;
  		case "5":
  			title = "The Casual Pack"
  			price = "$48.00"
  			compare_at = "$72.00"
  			savings = "33%"
  			description = "two pairs of flats, and two pairs of loafers."
  			$('#bundle_flats, #bundle_flats2, #bundle_wloafer, #bundle_wloafer2').show(); 	
  			photo_collection = ".photo-5"
  			break;
  		case "6":
  			title = "The Women’s Closet Pack"
  			price = "$60.00"
  			compare_at = "$90.00"
  			savings = "33%"
  			description = "two pairs of flats, one pair of loafers, one pair of sneakers, and one pair of heels."
  			$('#bundle_wloafer, #bundle_wsneaker, #bundle_flats, #bundle_flats2, #bundle_heels').show(); 
  			photo_collection = ".photo-6"
  			break;
  		case "7":
  			title = "The Casual Pack Lite"
  			price = "$42.00"
  			compare_at = "$54.00"
  			savings = "22%"
  			description = "two pairs of flats, and one pair of loafers."
  			$('#bundle_flats, #bundle_flats2, #bundle_wloafer').show(); 	
  			photo_collection = ".photo-7"
  			break;
  		case "8":
  			title = "The Office Pack Lite"
  			price = "$42.00"
  			compare_at = "$54.00"
  			savings = "22%"
  			description = "two pairs of flats, and one pair of heels."
  			$('#bundle_flats, #bundle_flats2, #bundle_heels').show(); 
  			photo_collection = ".photo-8"
  			break;
  		case "9":
  			title = "The Laceless"
  			price = "$42.00"
  			compare_at = "$54.00"
  			savings = "22%"
  			description = "one pair of loafers, one pair of flats, one pair of heels."
  			$('#bundle_wloafer, #bundle_flats, #bundle_heels').show()
  			photo_collection = ".photo-9"
  			break;
  		case "10":
  			title = "The Couples Pack"
  			price = "$60.00"
  			compare_at = "$90.00"
  			savings = "33%"
  			description = "one pair of men's loafers, one pair of men's sneakers, one pair of women's flats, one pair of woman's loafers and one pair of woman's sneakers."
  			$('#bundle_wloafer, #bundle_wsneaker, #bundle_flats, #bundle_heels, #bundle_mloafer, #bundle_msneaker').show()		
  			photo_collection = ".photo-10"
  			break;
  		case "11":
  			title = "The Shoe Lover"
  			price = "$70.00"
  			compare_at = "$108.00"
  			savings = "35%"
  			description = "two pairs of women's flats, two pairs of women's sneakers, two pairs of women's loafers."
  			photo_collection = ".photo-11"
  			$('#bundle_flats, #bundle_flats2, #bundle_wloafer, #bundle_wloafer2, #bundle_wsneaker, #bundle_wsneaker2').show(); 	
  			break;
  		case "12":
  			title = "The Flats Pack"
  			price = "$48.00"
  			compare_at = "$72.00"
  			savings = "33%"
  			description = "four pairs of women's flats."
  			photo_collection = ".photo-12"
  			$('#bundle_flats, #bundle_flats2, #bundle_flats3, #bundle_flats4').show(); 	
  			break;
  		// case "13":
  		// 	title = ""
  		// 	price = ""
  		// 	savings = ""
  		// 	description = ""
  		// 	photo_collection = ""
  		// 	break;

  	}}
    else {
      window.location.href = "https://www.mygekks.com/bundle-not-found";
    }

	$('#bundle_title').text(title); 
	$('#bundle_price').text(price)
	$('#bundle_compare_at_price').text(compare_at)
	$('#bundle_savings').text(savings)
	$('#bundle_description').text(description)
  $(photo_collection).show(); 




	// $('#custom-pack-size').change(function() {
	// 	$('#featured-image').addClass('abs')
	// 	$('#featured-image').animate({height: '+=2%', width: '+=2%'}, 200, function() {
	// 		$('#featured-image').animate({height: '-=2%', width: '-=2%'}, 200)
	// 		$('#featured-image').removeClass('abs')
	// 	})
	// }); 
	
</script>

<script>
  Shopify.queue = [];

  Shopify.moveAlong = function() {
    // If we still have requests in the queue, let's process the next one.
    console.log(Shopify.queue.length)
    if (Shopify.queue.length) {
      var request = Shopify.queue.shift();
      // pass the properties into addItem as well
      Shopify.addItem(request.variantId, request.quantity, Shopify.moveAlong);
    }
    // If the queue is empty, we will redirect to the cart page.
    else {
      document.location.href = '/cart';
    }
  };

  // Create a new Shopify.addItem function that takes the 'properties' parameter
  Shopify.addItem = function(id, qty, properties, callback) {
    var params = {
      quantity: qty,
      id: id
    };
    if(properties != false){
      params.properties = properties;
    }
    $.ajax({
      type: 'POST',
      url: '/cart/add.js',
      dataType: 'json',
      data: params,
      success: function(){
        if(typeof callback === 'function'){
          callback();

        }
      },
      error: function(){}
    });
  }

  function push_to_queue(variantID, quantity) {
    Shopify.queue.push({
      variantId: variantID,
      quantity: quantity
    });
  }

  	$('#add-cart-custom').click(function() {
  		var size = $('#custom-pack-size option:selected').text(); 
      console.log(size)
  		$('#add-cart-custom').css("background-color", "lightgray").html("<span>adding...</span>")
		$( ".bundle-color-selection.highlight:visible" ).each(function() {
			var variantSelected = $(this).data('variant-id-' + size)
      console.log(variantSelected)
      push_to_queue(variantSelected, 1)

		 }); 
		Shopify.moveAlong()
 	}); 
</script>




