<form action="/cart/add" method="post" id="product-form-{{ product.id }} t" class="checkout" itemprop="offers" itemscope itemtype="http://schema.org/Offer">


{% if product.title != "Select" %}
 
 <section id="product-details">
    {% if product.type == "Closet Pack" or product.type == "Gift Card" or product.type == "Pre-Built Bundle"  or product.type == "Glove"%}
      {% if product.type == "Glove" %}
        <h3 class="glove-title">SL<span style="font-weight: 300;">VR</span> Antimicrobial Gloves by Gekks</h3>
            <p class="">{{ product.description}}</p>
      {% else %}
        <h3>{{product.title}}</h3>
          <p class="subscript">{{ product.description}}</p>
      {% endif %}
    {% else %}f
      <h3>{{ product.collections.first.title }}'s {{product.title}}</h3>
    <p class="subscript">{{ product.description}}</p>
    {% endif %}
    {% if product.available %} 
        {% if product.type != "Pre-Built Bundle" and product.type !="Glove" and product.title != "Gift Cards" %}
            <div class="flex-container-no jcc">
              <h3 class="" style=" margin-right: 10px">$18 <span class="subscript" style="font-weight: 300; margin: 0 5px;">or</span> $12 </h3><span class="subscript" style="font-weight: 300;">when you buy 4 <br>or more pairs</span>
            </div>
        {% else %}
          <div class="price{% if product.price < product.compare_at_price_max %} sale{% endif %}" itemprop="price" content="{{ product.compare_at_price | money_without_currency }}">
            <div class="closetpackprice ib">
              <p id="product-price-{{ product.id }}">{{ product.price | money }}</p>
              <p style="display: inline-block;" class="subscript" id="compare-price-{{ product.id }}">{{ product.compare_at_price | money }}</p>
            </div>
        {% endif %}
   
      

      {% unless product.title == "Select" or product.title == "Gift Cards" or product.type == "Glove" %} 
      {% if product.type == "Pre-Built Bundle" %}
        <div id="review-details" class="ib">
      {% else %}
          <div id="review-details" class="fw tac" style="margin: 10px auto;">
      {% endif %}
      <a href="/pages/reviews">
        <div class="prodrating">
          {% if product.title == "Ballet Flats" or product.type == "Closet Pack" or product.title == "Heels & Wedges" or product.type == "Pre-Built Bundle" %}
          <img src="{{'475stars.png' | asset_url}}" alt="4.75" />
          {% else %}
          <img src="{{'4stars.png' | asset_url}}" alt="4" />         
          {% endif%}
        </div>


 



        <span class="text-green vam">
        {% case product.title %}
          {% when "Ballet Flats" %}
            2285
          {% when "The Women's Closet Pack" %}
            1087
          {% when "Heels & Wedges" %}
            68
          {% when "The Trial Pack" %}
            58
          {% when "The Office Pack" %}
            49
          {% when "The Casual Pack" %}
            41
          {% when "The Office Pack Lite" %}
            18
          {% when "The Shoe Lover" %}
            62
          {% when "The Casual Pack Lite" %}
            12

          {% when "The Metropolitan Pack" %}
            42
          {% when "The Men's Closet Pack" %}
            109
          {% when "Loafers & Slip-Ons" %}
            {% if product.collections.first.title == "Women" %}
              203
            {% else %}
              135
            {% endif %}
          {% when "Sneakers & Lace-Ups" %}
            {% if product.collections.first.title == "Women" %}
              316
            {% else %}
              210
            {% endif %}
        {% endcase %}
        </span>
       </div>
     </a>
    </div>  

      {% endunless %}

      {% else %}
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">                          
        <link itemprop="availability" href="http://schema.org/OutOfStock">
        <p><span>Sold Out</span></p>
      {% endif %}
  </section>
  
  {% if product.available and product.variants.size > 1 and product.type != "Gift Card"  %}
    {% include 'swatch' with 'Color' %}
  {% endif %} 
  {% if product.available %}
    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
    <link itemprop="availability" href="http://schema.org/InStock">
    


    {% assign default_index = product.options_by_name['Color'].values.size | plus: 1 %}
{% comment %} can refactor {% endcomment %}

   <select name="id" id="productSelect-{{ product.id }}" class="product-single__variants" style="display: none;">
      {% for variant in product.variants %}
     	  {% if product.collection.first.title == "Men" %}
           	<option {% if forloop.index == default_index %}selected="selected"{% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
        {% else %} 
           {% if product.type == "Pre-Built Bundle" %}
              <option {% if forloop.index == default_index %}selected="selected"{% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
           {% elsif product.title != "Ballet Flats" %}
           	  <option {% if forloop.index == default_index %}selected="selected"{% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
           {% else %}
           	  <option {% if forloop.index == default_index %}selected="selected"{% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
           {% endif %}
        <option data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
        {% else %}
        <option disabled="disabled" style="display: none;">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
        {% endif %}
      {% endfor %}
   </select>
   {% if product.type == "Closet Pack" or product.type == "Pre-Built Bundle" or product.title == "Gift Cards" %}
   <select name="quantity" id="quantity">
     {% for i in (1..10) %}
     <option value="{{ i }}">{{ i }}</option>
     {% endfor %}         
  </select>  
  {% else %}
     <select name="quantity" id="quantity">
     {% for i in (1..10) %}
     <option value="{{ i }}">{{ i }}</option>
     {% endfor %}         
  </select>  
  {% endif %}
  {% if product.title == "Gift Cards" %}
    <div class="spacer"></div>
  {% else %}
    <p class="subscript clickable" id="size-chart"><img src="{{'ruler.png' | asset_url}}" alt="sizing-chart" class="ruler-icon"/>sizing chart</p>
  {% endif %}
  <p class="priceu subscript" id="discount-at-checkout" style="display: none;"><span>*discount applied at checkout</span></p>
  <button type="submit" name="add" id="add-cart" class="background-green text-white clickable" onclick="pintrk('track', 'addtocart');"><span>add to cart</span></button>

  {% if product.type != "Glove" %}

  <h4 class="text-green clickable" id="prod-description">+ Product Description</h4>
  <ul style="list-style: disc; text-align: left;" id="desc-dets" class="dn">
    <li> Patented fastening system semi-permanently adheres Gekks to your shoes - you put Gekks in your shoe, not on your feet;</li>
    <li>Slip in and out barefoot, but get all day comfort and stench control;</li>
    <li>Ultra soft terry footbed;</li>
    <li>Thin toe section will not alter the way your shoes fit;</li>
    <li>39% polyester, 38% nylon, 6% spandex, 13% pima cotton, 4% silver coated nylon</li>
  </ul>
    {% else %}
    <p class="">*Shipping to customers begins April 3rd; we are donating the first 2,000 pairs off our production line to Meals on Wheels. <b>Your purchase will help us continue to donate gloves to other organizations in need.</b> <a href="https://www.mygekks.com/pages/slvr-announcement" target="_blank" title="https://www.mygekks.com/pages/slvr-announcement" rel="noopener noreferrer"> <span style="text-decoration: underline; font-weight: 300;"><em>Read More.</em></span></a></p>
      <p>If you are a charity or organization in need of these gloves please contact us at donations@mygekks.com</p>

    <h4 class="text-green clickable" id="prod-description">- Product Description</h4>
 <ul style="list-style: disc; text-align: left; padding-left: 20px" id="desc-dets" class="">
    <li>Everyday gloves infused throughout with silver coated nylon, which provides the glove with antimicrobial technology and resists microorganism growth on the glove</li>
    <li>Silver antimicrobial yarn is currently being tested for its efficacy against human coronavirus</li>
    <li>Helps resist the urge to touch face and mouth</li>
    <li>Includes Repreve XS Polyester, made from recycled bottles with wicking and cooling technology</li>
    <li>Smartphone compatible; thin and user friendly</li>
    <li>Machine wash and dry</li>
    <li>57% polyester, 30% nylon, 8% silver coated nylon, 5% lycra</li>
  </ul>
    {% endif %}
  <script>
 
    $('#prod-description').click(function() {
      $('#desc-dets').toggleClass('dn'); 
       var text = $(this).text();
        $(this).text(
        text  == "+ Product Description" ? "- Product Description" : "+ Product Description"); 

    })
  </script>
  {% if product.type == "Pre-Built Bundle" %}
    <p style="margin-top: 20px;" class="subscript">Add any combinations of Gekks colors and sizes by building your own bundle. <a href="/pages/bundles" class="text-green">click here.</a></p>
  {% endif %}
  {% unless product.title == "Select" or product.title == "Gift Cards" or product.type == "Pre-Built Bundle" or product.type == "Glove" %}
    {% assign select = collections.all.products[6]%}
    <div class="example-shoes border-beige">
      <p class="tac nm">Examples Of Shoes These Work In</p>
      <div class="scrollp leftp clickable invis">➤</div>
      <div class="shoe-wrapper">
         {% case product.title %}
          {% when "Ballet Flats" %}
            {% for image in select.images offset: 103 limit: 15 %}
             <div class="shoe-count"><img data-src="{{ image | product_img_url: 'compact' }}" class="lazyload" /></div>
            {% endfor %}
          {% when "Loafers & Slip-Ons" %}
           {% if product.collections.first.title ==  "Women" %} 
            {% for image in select.images offset: 118 limit: 6 %}
              <div class="shoe-count"><img data-src="{{ image | product_img_url: 'compact' }}" class="lazyload" /></div>
            {% endfor %}
            {% else %}
               {% for image in select.images offset: 95 limit: 7 %}
               <div class="shoe-count"><img data-src="{{ image | product_img_url: 'compact' }}" class="lazyload"/></div>
               {% endfor %}
            {% endif %}
          {% when "Sneakers & Lace-Ups" %}
           {% if product.collections.first.title == "Women" %}
            {% for image in select.images offset: 125 limit: 7%}
              <div class="shoe-count"><img data-src="{{ image | product_img_url: 'compact' }}" class="lazyload" /></div>
            {% endfor %}
          {% else %}
            {% for image in select.images offset: 87 limit: 8 %}
              <div class="shoe-count"><img data-src="{{ image | product_img_url: 'compact' }}" class="lazyload" /></div>
            {% endfor %}             
          {% endif %}
          {% when "Women's Closet Pack" %}
            {% for image in select.images offset: 132 limit: 9 %}
              <div class="shoe-count"><img data-src="{{ image | product_img_url: 'compact' }}" class="lazyload"/></div>
            {% endfor %}  
            {% when "Men's Closet Pack" %}
            {% for image in select.images offset: 141 limit: 8 %}
              <div class="shoe-count"><img data-src="{{ image | product_img_url: 'compact' }}" class="lazyload" /></div>
            {% endfor %}                               
            {% when "Heels & Wedges" %}
            {% for image in select.images offset: 174 limit: 9 %}
              <div class="shoe-count"><img data-src="{{ image | product_img_url: 'compact' }}" class="lazyload" /></div>
            {% endfor %} 
          {% endcase %}
       </div>
       <div class="scrollp rightp clickable">➤</div>
    </div>
  {% endunless %}
</form>
{% comment %} SIZING CHART MODAL {% endcomment %}
<style>
  #glove-size-wrapper { width: 100%; max-width: 500px; }
</style>
<div style="display: none;" id="display-size" class="sizing-chart border-lightgray modal">
  <div class="accent-padding">
   <p class="nm klaviyo_header_close tar clickable">✕</p>
{% if product.type == "Glove" %}
    <div class="flex-container-no" id="glove-size-wrapper">
      <div class="half">
        <p class="ttu"><b>SMALL: 6.0 - 6.5″</b></p>
        <p class="ttu nmb"><b>MEDIUM: 6.5 - 7.25″</b></p>
        <p class="subscript nmt">(average female hand)</p>
        <p class="ttu nmb"><b>LARGE: 7.25 - 8.0″</b></p>
        <p class="subscript nmt">(average male hand)</p>
        <p class="ttu"><b>EXTRA LARGE: 8.0″+</b></p>
      </div>
      <div class="half"><img src="{{'glovesize.jpg' | asset_url}}" class="fw" /></div>
    </div>
{% else %}
  <table>
    <tr>
      <th colspan="2" class="blank-row"></th>
      <th class="t-size table-title">small</th>
      <th class="t-size table-title">medium</th>
      <th class="t-size table-title">large</th>
    </tr>
    <tr class="lg">
      <td rowspan="2" class="table-title"><span>mens</span></td>
      <td class="table-title lg">US</td>
      <td>6.5-8</td>
      <td>8.5-11</td>
      <td>11.5+</td>
    </tr>
    <tr class="dg">
      <td class="table-title">UK</td>
      <td>39-41</td>
      <td>42-44</td>
      <td> 44+ </td>
    </tr>
    <tr class="lg">
      <td rowspan="2" class="table-title"><span>womens</span></td>
      <td class="table-title lg">US</td>
      <td>5-6.5</td>
      <td>7-8.5</td>
      <td>9-11.5</td>
    </tr>
    <tr class="dg">
      <td class="table-title">UK</td>
      <td>35-37</td>
      <td>38-39</td>
      <td>40-42</td>
    </tr>
  </table>
  {% endif %}
</div>
</div>

{% unless product.title == "Select" %} 
{% if product.available %}
<script>
    $('.swatch').prepend("<p id='color-label'>color:</p>")
   $('.scrollp').on("click", function() { 
    var wrapper = $('.shoe-wrapper'); 
    if ($(this).hasClass('rightp')) { 
      $(wrapper).animate( { scrollLeft: '+=300' })
    }
    else {
      $(wrapper).animate({scrollLeft: '-=300'});  
    }
  }); 

$('.shoe-wrapper').scroll(function() {
    var wrapper = $('.shoe-wrapper'); 
    var $width = $(wrapper).outerWidth()
    var $scrollWidth = $(wrapper)[0].scrollWidth; 
    var $scrollLeft= $(wrapper).scrollLeft() 
    if ($scrollWidth - $width == $scrollLeft) {
      $('.rightp').addClass('invis');
      $('.leftp').removeClass('invis');
    }
    else if ($scrollLeft === 0) {
      $('.leftp').addClass('invis');
      $('.rightp').removeClass('invis')
    }
    else {
      $('.scrollp').removeClass('invis');
    }
}); 

  var selectCallback_{{ product.id }} = function(variant, selector) {

    // BEGIN SWATCHES
    if (variant) {
      var form = jQuery('#' + selector.domIdPrefix).closest('form');
      for (var i=0,length=variant.options.length; i<length; i++) {
        var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
        if (radioButton.size()) {
          radioButton.get(0).checked = true;
        }
      }
    }
    // END SWATCHES
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector,
      product_id: '{{ product.id }}',
      translations: {
      add_to_cart : "{{ settings.add_to_cart_text }}",
      sold_out : "Sold Out",
      unavailable : "Unavailable"
    }
                       });
  };
  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect-{{ product.id }}', {
                                product: {{ product | json }},
                                onVariantSelected: selectCallback_{{ product.id }},
                                enableHistoryState: true
                                });


  });
</script>
{% endif %}
{% endunless %} 
{% endif %} 
{% comment %}{% else %}
{% endcomment %}{% comment %}<div class="fw tac">
  <div class="flex-container-no select-grid clickable">
    <div class="half" id="shop-flats"><h3><a href="/products/flats-version" class="text-white">Flats</a></h3></div>
    <div class="half" id="shop-sneakers"><h3><a href="/products/womens-sneaker-version" class="text-white">Sneakers</a></h3></div>
  </div>
  <div class="flex-container-no select-grid clickable">
    <div class="half" id="shop-loafers"><a href="/products/womens-loafer-version" class="text-white"><h3>Loafers</h3></a></div>
    <div class="half" id="shop-heels"><a href="/products/heels" class="text-white"><h3>Heels</h3></a></div>
  </div>
</div>{% endcomment %}
{% comment %}  {% include 'custom-pack' %}
{% endcomment %}{% endif %}
</form>
 {% unless product.available %} 
 <div id="sold-out-email">
  <p class="subscript tac">Sign up below to be notified when these are back in stock!</p>
  <div class="klaviyo-form-NRDXL2"></div>
</div>
{% endunless %}