<!doctype html>
<html lang="en">
  <head> 
    <style>.async-hide { opacity: 0 !important} </style>

    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
                                         h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
                                         (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
                                        })(window,document.documentElement,'async-hide','dataLayer',4000,
                                            {'GTM-5NSXTXW':true});</script>



<!-- Global site tag (gtag.js) - Google AdWords: 973442114 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-973442114"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-973442114');
</script>
<!-- End Google Tag Manager -->
    <meta name="google-site-verification" content="dqBuFf83axVS4nOnWuFVrQtjyiGfdbX01o-rh7F4Pq0" />
 

    <meta charset="utf-8">
    <meta name="robots" content="index, follow, archive">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    {% assign maxmeta = 155 %}
    {% if template contains 'product' %}
    {% if template == 'collection' %}
    <meta name="description" content="{{ collection.description | strip_html | strip_newlines | truncate: maxmeta | escape }}">
    {% else %}
    <meta name="description" content="{{ product.description | strip_html | strip_newlines | truncate: maxmeta | escape }}">
    {% endif %}
    {% elsif page_description %}
  <meta name="description" content="{{ page_description | escape }}">
   <meta property="og:image" content="{{preview.png | asset_url}}" />

 
    {% else %}
    <meta name="description" content="{{ shop.description }}">
   <meta property="og:image" content="{{preview.png | asset_url}}" />

    {% endif %}
    <meta name="keywords" content="">
    <title>{% if template == 'index' %}Gekks™ | The Innovative No Show Sock for Flats, Loafers, & Sneakers {% elsif template == '404' %}Page Not Found | {{ shop.name }}{% else %}{{ page_title }}{% endif %}</title>
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="icon" type="image/png" href="{{ 'favicon.png' | asset_url }}">
    
    {{ 'style.css' | asset_url | stylesheet_tag }}
    <script type="text/javascript" src="//static.klaviyo.com/onsite/js/klaviyo.js?company_id=ueKycW" defer></script>
    <script src="{{'klaviyo.js' | asset_url}}" ></script>
    <script src="{{ 'jquery.min.js' | asset_url }}" ></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js" async=""></script>
    <script src="{{ 'custom.jquery.js' | asset_url }}" defer></script>
    <script src="{{  'main.js' | asset_url }}" defer></script>
    <script src="{{  'option_selection.js' | shopify_asset_url }}" defer></script>
{% comment %}    <script src="{{ 'ajax-cart.js'  | asset_url }}" defer></script>
{% endcomment %}    <script src="{{ 'modernizr.min.js' | asset_url }}" defer></script>
    <script src="{{ 'handlebars.min.js' | asset_url }}" ></script>
    <script src="{{ 'jquery.easing.1.3.min.js' | asset_url }}" defer></script>
    <script src="{{'jquery.mobile.custom.min.js' | asset_url}}" defer></script> 
    <script src="{{'iframeResizer.min.js' | asset_url}}" ></script> 

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" defer />
<script src="{{'lazysizes.min.js' | asset_url}}" async=""></script>
   

{% comment %}    {% include 'ajax-cart-template' %}
{% endcomment %}
{% comment %}    <script async>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: 'form[action="/cart/add"]',
          cartContainer: '#CartContainer',
          addToCartSelector: '[type="submit"]',
          cartCountSelector: '.cart span',
          cartCostSelector: '#CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
        });

        jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
          timber.RightDrawer.open();
        });
    </script>{% endcomment %}
    <div id="CartContainer" >
    </div>
    {% include 'referafriend' %}
    {% unless template contains 'series' %}
  {% include 'klaviyo-pop' %}
{% endunless %} 
    <script src="{{  'api.jquery.js' | shopify_asset_url }}" async></script>

    {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
    {% endif %}
    <script type="text/javascript">
      var global_money_format = '{{ shop.money_format }}';
    </script>
    {% include 'head-fb-open-graph' %}
    {{ content_for_header }}

    {% comment %}Klaivyo{% endcomment %}
    <script type="text/javascript">
  var _learnq = _learnq || [];

  _learnq.push(['account', 'pk_c257ee3a5e3b40251891c2148e1e6c4824']);

  (function () {
  var b = document.createElement('script'); b.type = 'text/javascript'; b.async = true;
  b.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'a.klaviyo.com/media/js/analytics/analytics.js';
  var a = document.getElementsByTagName('script')[0]; a.parentNode.insertBefore(b, a);
  })();
  </script>

<!-- Start of mygekks Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="https://assets.zendesk.com/embeddable_framework/main.js",this.t=+new Date,this.zendeskHost="mygekks.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close()}();
/*]]>*/</script> 
<!-- End of mygekks Zendesk Widget script -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--    pinterest  -->
    <script type="text/javascript">
!function(e){if(!window.pintrk){window.pintrk=function()
{window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
n=window.pintrk;n.queue=[],n.version="3.0";var
t=document.createElement("script");t.async=!0,t.src=e;var
r=document.getElementsByTagName("script")[0];r.parentNode.insertBefore(t,r)}}
("https://s.pinimg.com/ct/core.js"); 

pintrk('load','2614444454225', { em: '{{ customer.email }}', });
pintrk('page');
</script> 
<noscript> 
<img height="1" width="1" style="display:none;" alt=""
src="https://ct.pinterest.com/v3/?tid=YOUR_TAG_ID&noscript=1" /> 
</noscript>
  </head>
  <body class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '/', '-' | split: '.' }} {% if template == 'index' or page.handle == 'store' %}zoom-aware{% endif %}">

    <header>

      <div class="wrap cbb-ignored-image" style="text-align: center;">
        <a href="/?sh=d">
            <img data-src="{{'jlogo.png' | asset_url}}" alt="Gekks" class="logo lazyload" />
        </a>
        <div class="desktop" id="top-nav">
          <nav>
            <ul class="desktop-nav">
              {% for link in linklists.main-menu-uu.links %}
                {% assign child_list_handle = link.title | handleize %}
                {% if linklists[child_list_handle].links != blank %}
                  <ul class="childlink desktop-sub-nav">
                    {% for childlink in linklists[child_list_handle].links limit: 1 %}
                      <li class="sub-nav-header"><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                    {% endfor %}
                    <div class="sub-nav">
                      {% for childlink in linklists[child_list_handle].links offset: 1 %}
                      <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                      {% endfor %}
                    </div>
                  </ul>
               {% else %}
                <li class="no-sub"><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
              {% endif %}
             {% endfor %}  
            </ul>
            
                <script>
$(document).ready(function(event) {  
  var historyTraversal = event.persisted || 
                         ( typeof window.performance != "undefined" && 
                              window.performance.navigation.type === 2 );
  if ( historyTraversal ) {
    // Handle page restore.
      // $('#top-nav').load(document.URL + ' #top-nav')
      $('.cart').load(document.URL + ' .cart')

  }
});
</script>
    
            
            <ul class="mobile-nav1 accent-padding" style="display: none;">
                      <p class="nmt tar clickable" id="hamburger-close" style="font-size: 15pt;margin-right:5px;"><span>✕</span></p>

              {% for link in linklists.mobile-nav-bundles.links limit:3 %}
                {% assign child_list_handle = link.title | handleize %}
                {% if linklists[child_list_handle].links != blank %}
                  {% if link.title == "Women's" %} 
                    <li style="margin-top: 20px;">
                  {% else %}
                    <li>
                  {% endif %}    
                  <a class="collection-prod" href="{{ link.url }}">{{ link.title | escape }} <span>◯</span></a>

                   <ul class="childlink accent-padding" style="display: none;">

                    {% for childlink in linklists[child_list_handle].links %}

                      <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>

                     {% endfor %}
                   </ul>
                 </li> 
                {% else %}
                  <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
                {% endif %}
              {% endfor %}
              <li><a href="#" id="nav-more" class="collection-prod">more<span>◯</span></a>
              <ul class="childlink accent-padding" style="display: none;">
              {% for link in linklists.mobile-nav-bundles.links offset: 3 %}
                {% if link.title == "Login" %}
                  {% if customer %}
                    <li class="nav-more"><a href="/account">View Account</a></li>
                  {% else %}
                    <li class="nav-more"><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
                  {% endif %}
                {% else %}
                  <li class="nav-more"><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
                {% endif %}
              {% endfor %}
              </ul>
              </li>
              <div id="nav-social" class="accent-padding">
                <a href="https://www.instagram.com/gekks_go_sockless/"><img data-src="{{'Instagram_darkgray.png' | asset_url}}" class="lazyload" alt="Instagram" target="_blank"/></a> 
                <a href="https://www.facebook.com/GekksLowCutLiners"><img data-src="{{'facebook_darkgrey.png' | asset_url}}" class="lazyload" alt="Facebook" target="_blank"/></a>
                <a href="https://www.pinterest.com/gekksliners/gekks-low-cut-liners/"><img data-src="{{'pinterest_darkgrey.png' | asset_url}}" class="lazyload" alt="Pinterest" target="_blank"/></a> 
              </div>
            </ul>

         
            </ul>
          </nav>
            <div class="customer-portal">
              {% if customer %}
                <a href="/account/"><img src="{{'login.png' | asset_url}}" alt="View Account"/></a>
              {% else %}
                <a href="/account/login"><img src="{{'login.png' | asset_url}}" alt="Login/Register"/></a>
              {% endif %}
            </div>
              <a href="/cart/" class="cart"><span>{{ cart.item_count }}</span> <image class="cart-icon" src="{{'shoppingbag.svg' | asset_url}}" style="margin-bottom: -11px;" alt="shopping cart"/></a>
            <div id="hamburger" style="display: none;">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
         </div>
      </div>
    </header>

    {% if shop.metafields.locksmith.active %}{% include 'locksmith' %}{% else %}{{ content_for_layout }}{% endif %}
    
    <footer class="background-green">
        <div class="social-icons">
          <a href="https://www.instagram.com/gekks_go_sockless/?hl=en" rel="noreferrer" target="_blank""><img data-src="{{'ig.png' | asset_url}}" class="lazyload" alt="Instagram" /></a>
          <a href="https://www.facebook.com/GekksLowCutLiners/" target="_blank" rel="noreferrer"><img data-src="{{'fb.png' | asset_url}}" alt="Facebook" class="lazyload" /></a>
          <a href="https://www.pinterest.com/gekksliners/" target="_blank" rel="noreferrer"><img data-src="{{'pinterest.png' | asset_url}}" alt="Pinterest" class="lazyload" /></a>
      </div>
        <div id="footer-nav">
          <div id="nav-wrap">
                 <ul>
                <h3>company</h3>
                {% for link in linklists.footer-1.links limit: 5 offset: 5%}<li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>{% endfor %}
              </ul>
              <ul>
                <h3>help</h3>
                {% for link in linklists.footer-1.links limit: 5%}<li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>{% endfor %}
              </ul>
                <ul>
                <h3>shop</h3>
                {% for link in linklists.footer-1.links limit: 3 offset: 10%}
                  {% if link.title == "Men" or link.title == "Women" %}
                    <li><a href="/collections/women">{{ link.title | escape }}</a></li>
                  {% else %}
                    <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
            <div id="footer-aside">
              <div id="referafriend" class="background-darkgray" onclick="ga('send', 'event', 'Refer', 'Footer', 'Click');"><h3 class="text-white">refer a friend</h3></div>

{% comment %}              <div id="getadiscount" class="background-darkgray"><h3 class="text-white">get a discount</h3></div>
{% endcomment %}






          </div>
          <div class="background-darkgray">
            <div class="fw flex-container-no" id="payment-options">
              <img data-src="{{'amazon-pay.png' | asset_url}}" class="payment-icon lazyload" alt="amazon pay"/>
              <img data-src="{{'amex.png' | asset_url}}" class="payment-icon lazyload" alt="amex"/>
              <img data-src="{{'apple-pay.png' | asset_url}}" class="payment-icon lazyload" alt="apple pay"/>
              <img data-src="{{'discover.png' | asset_url}}" class="payment-icon lazyload" alt="discover"/>
              <img data-src="{{'google-pay.png' | asset_url}}" class="payment-icon lazyload" alt="google pay"/>
              <img data-src="{{'mastercard.png' | asset_url}}" class="payment-icon lazyload" alt="mastercard" />
              <img data-src="{{'paypal.png' | asset_url}}" class="payment-icon lazyload" alt="paypal" />
              <img data-src="{{'visa.png' | asset_url}}" class="payment-icon lazyload" alt="visa"/>
            </div>
            <h3 class="copywrite tac text-white nmb">© {{ shop.name }} {{ 'now' | date: '%Y' }}
            <p class="subscript nm tac">US Patent 9,839,259B2</p></h3>
          </div>
    </footer>
    <!-- footer klaviyo newsletter -->
    <script>
      $('#getadiscount').click(function() {
        $('.modal-newsletter').show(); 
        $('.index-sections, main, header, footer, #banner-cta, .mobile-nav1').addClass('darken')
        createCookie("newsletterModal", "Displayed", 5)
          KlaviyoSubscribe.attachToModalForm('.modal-newsletter', {
            delay_seconds: 0,
            ignore_cookie: true,
         success_message: "<div class='success_feedback accent-padding ma'><div class='accent-padding'><p class='nmt klaviyo_header_close_news tac clickable' style='font-size: 12pt;' onclick='closeWelcomePop()'>X</p><h2 class='nm'>Thank you!</h2><h3>You've unlocked Bundle Pricing</h3><table class='ma'><tr><th class='t-size table-title'>Pairs</th><th class='t-size table-title'>Price</th></tr><tr class='lg'><td>1</td><td>$18.00</td></tr><tr class='dg'><td>2</td><td><span class='strikethrough'>$36.00</span> $32.00</td></tr><tr class='lg'><td>3</td><td><span class='strikethrough'>$54.00</span> $36.00</td></tr><tr class='dg'><td>4</td><td><span class='strikethrough'>$64.00</span> $48.00</td></tr><tr class='lg'><td>5+</td><td><span class='strikethrough'>$80.00+</span> $60.00+<br>& Free Shipping!</td></tr></table></div></div>",
              success: function ($form) {
              createCookie("emailSignUp", "popup", 14)
              $('#container-news').css("background-image", "none"); 
              $('#success-close').show();
              ga('send', 'event', 'Acquisition', 'Pop Up', 'Website');
      $form.hide().find('.hide_on_submit').hide();
            },
         });  
      })
</script>

    <!-- Google Code for Remarketing Tag -->
    <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 973442114;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    </script>

    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
      <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/973442114/?value=0&amp;guid=ON&amp;script=0"/>
      </div> 
    </noscript>     
    <!-- END Google Code for Remarketing Tag --> 
    
    {% if template contains 'reviews' %}{{ 'reviews.css' | asset_url | stylesheet_tag }}{% endif %}
    
    <script>jQuery(function(){jQuery(".swatch :radio").change(function(){var t=jQuery(this).closest(".swatch").attr("data-option-index"),e=jQuery(this).val();jQuery(this).closest("form").find(".single-option-selector").eq(t).val(e).trigger("change")})});</script>
    
    {% include 'remove-sold-out' %}
    {% include 'linked-options' %}
       <script>
        $('document').ready(function() {
          if ((window.location.href.indexOf("welcomeflow") > -1)) {
            createCookie("emailSignUp", "voxie", 14);
          }
        })
      </script>
    <script>$("#referafriend").click(function(){/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)?document.getElementById("k_id_modal").style.display="inline-block":document.getElementById("desktop_refer_k").style.display="inline-block"});</script>


    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
  duration: 600,
})
  </script>

<input class="js-form-discount" type="hidden" name="discount" value="" style="display: none;" >

  {% include 'carro' %}</body>
</html>
