<main id="page" class="cart-page">          
      <section class="index-padding">
       <div class="title-border"></div>
        <h2>Shopping Cart</h2>
        {% if cart.item_count == 0 %}
        <h3>Your cart is empty.</h3>
        <p>Continue shopping by <a href="/collections/all">clicking here</a></p>
        {% endif %}
      {% if cart.item_count > 0 %}
      <form action="/cart" method="post">
        <div class="side-bar-form">
          {% for item in cart.items %}
        <div class="flex-container-no border-lightgray line-item-wrapper">
            <div class="quarter accent-padding">
              <a href="{{ item.url}}">
                <img src="{{ item.variant.image.src | product_img_url: 'large' }}"  alt="{{ item.product.title }}" class="fw">
              </a>
            </div>
            <div class="line-item-details">
              <h3 class="nmb">{{item.product.title}}</h3>
              <p>
                <span>Style:</span> {{ item.variant.title | capitalize }}<br>
                <span>Qty:</span> <span style="font-weight: lighter" id="line-item-quantity-number">{{ item.quantity }}</span> <span style="font-weight: lighter;" id="item-line-price">@ {{ item.line_price | divided_by: item.quantity | money }}</span></p>

              </p>
            </div>
              <div class="accent-padding price-details">
                <h3 class="tar"><span id="updated-price"></span><span id="original-price">{{ item.line_price | money}}</span> </h3>
                <a href="/cart/change?id={{ item.id }}&quantity=0" class="cart-update">remove</a></p>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="quarter background-lightgray accent-padding">
          <h3 class="text-green tac">order summary</h3>
          <div class="index-padding">
            <p><span>items</span><span class="fr">{{cart.item_count}}</span></p>
            <p><span>subtotal</span><span class="fr" id="original-sub-total">{{ cart.total_price | money }}</span><span class="fr" id="updated-sub-total"></span></p>
          </div>
            <p class="qualified-for-free-shipping tac text-green" style="display: none;"><span>You've Qualified for Free Shipping!</span></p>
          <input type="submit" id="checkout" name="checkout" value="checkout">
          <p class="subscript tac text-green">other payment options</p>
          {% if additional_checkout_buttons %}
            {{ content_for_additional_checkout_buttons }}
          {% endif %}
        </div>
        </form>

            {% if settings.allow_note == 'yes' %}
            <div class="note index-padding-to tac">
              <p><a class="show-note" href="#">{{ settings.note_label }}</a></p>
              <div class="note-for-seller hidden">
                <textarea id="note" name="note" placeholder="Write your note">{{ cart.note }}</textarea>
              </div>
            </div>
            {% endif %}
          </div>
        </form> 

        </div>
      </div>
      {% endif %}
    </div>
  </section>
</main>

<style>
  @media only screen and (max-width: 588px) {
    #original-price { font-size: 10pt; }
    .price-details { width: 30%; }
  }
</style>

<script>
  {% for item in cart.items %}
    {% if item.original_price >= 4200 %}
      {% assign bundles = bundles | plus: item.quantity %}
      {% assign original_bundles_price = item.original_price | times: item.quantity | plus: original_bundles_price %}
    {% endif %}
  {% endfor %}
  var original_bundles_price = "{{ original_bundles_price}}"
  var bundles = "{{ bundles }}"


  var single_pack_total =  "{{ cart.item_count }}" - "{{ bundles }}"

  var new_price = ""

  if (bundles >= 1 && single_pack_total >= 1)  {
    new_price = 12.00
    jQuery.get('/discount/bundles4')
  }
  else if (single_pack_total == 2) {
    new_price = 16.00
    jQuery.get('/discount/bundles3')
  }
  else if (single_pack_total == 3) {
    new_price = 14.00
    jQuery.get('/discount/bundles3')
  }
  else if (single_pack_total == 4) {
    jQuery.get('/discount/bundles4')
    new_price = 12.00
  }
  else if (single_pack_total >= 5) {
    jQuery.get('/discount/bundles4')
    new_price = 12.00

  }

    var new_subtotal = (original_bundles_price / 100)+ (single_pack_total * new_price)




    if (single_pack_total >=1 ) {

    $('#updated-sub-total').html("$" + new_subtotal + ".00")
    $('#original-sub-total').addClass('strikethrough').css("margin-left", "5px"); 
  }
</script>