<div class="index-sections">
  <div>
    <div id="index-page"> 
      <section class="fw flex-container-no" id="atf1" style="display: none;">
        <div>
          <h1 class="nmb">Meet Your <br> Solemate.</h1>
          <div id="custom-gekks"> 
            <a href="/collections/all">
            <div class="button border-green text-green tac" onclick="ga('send', 'event', 'Above the Fold CTA', 'Click', 'Shop Your Gekks');">Shop Now</div>
            </a>
          </div>
        </div> 
      </section>
      <section class="fw slideshow" id="d-atf2" style="display: none;">
        <div id="d-slide1" class="fw flex-container-no" >
          <div class="half">
            <h1 class="nmb">Find Your<br>Solemates</h1>
             <p class="accent-padding">The Ultimate <span class="text-orange">No-Show Socks</span> that will mate for life with your shoes.</p>
          </div>
          <div class="half no-pad">
            <img src="{{'ATF_desktop1.jpg' | asset_url}}" class="fw"/>
          </div>
        </div>
      </section> 
      <section class="fw slideshow flex-container-no mo-plus" id="atf2">
        <div id="slide1" class="accent-padding fw" >
          <div id="slide1-text-wrap">
            <h1 class="tac">find your solemates.</h1>
            <p class="accent-padding">The Ultimate <span class="text-orange">No-Show Socks</span> that will mate for life with your shoes.</p>
            <div id="custom-gekks" class="tac"> 
              <a href="/collections/all">
              <div class="accent-padding background-darkgray text-white" onclick="ga('send', 'event', 'Above the Fold CTA', 'Click', 'Shop Your Gekks');">shop now</div>
              </a>
            </div>
          </div>        
        </div>
        <div id="slide2" style="display: none;" class="fw">
          <h1 class="text-green tac">Find Your Solemates.</h1>
          <div class="img-container">
            <img src="{{'slide2.jpg' | asset_url}}" class="fw"/>
          </div>
          <div id="custom-gekks" class="mobile-shopnow"> 
            <a href="/collections/all">
            <div class="accent-padding border-green text-green tac" onclick="ga('send', 'event', 'Above the Fold CTA', 'Click', 'Shop Your Gekks');">Shop Now</div>
            </a>
          </div>
        </div>
        <div id="slide3" style="display: none;" class="fw">
          <h1 class="text-green tac">Find Your Solemates.</h1>
          <div class="img-container">
            <img src="{{'slide3.jpg' | asset_url}}" class="fw"/>
          </div>      
          <div id="custom-gekks" class="mobile-shopnow"> 
            <a href="/collections/all">
            <div class="accent-padding border-green text-green tac" onclick="ga('send', 'event', 'Above the Fold CTA', 'Click', 'Shop Your Gekks');">Shop Now</div>
            </a>
          </div>
        </div>
        <div id="slide4" style="display: none;" class="fw">
          <h1 class="text-green tac">Find Your Solemates.</h1>
          <div class="img-container">
            <img src="{{'slide4.jpg' | asset_url}}" class="fw"/>
          </div>          
          <div id="custom-gekks" class="mobile-shopnow"> 
            <a href="/collections/all">
            <div class="accent-padding border-green text-green tac" onclick="ga('send', 'event', 'Above the Fold CTA', 'Click', 'Shop Your Gekks');">Shop Now</div>
            </a>
          </div>
        </div>
        <div id="slide5" style="display: none;" class="fw">
          <h1 class="text-green tac">Find Your Solemates.</h1>
   <div class="img-container">
            <img src="{{'slide5.jpg' | asset_url}}" class="fw"/>
          </div>          
          <div id="custom-gekks" class="mobile-shopnow"> 
            <a href="/collections/all">
            <div class="accent-padding border-green text-green tac" onclick="ga('send', 'event', 'Above the Fold CTA', 'Click', 'Shop Your Gekks');">Shop Now</div>
            </a>
          </div>
        </div>
      </section>
      <div class="accent-padding tac">
        <div class="circle background-green" data-slide="slide1"></div>
        <div class="circle background-darkgray" data-slide="slide2"></div>
        <div class="circle background-darkgray" data-slide="slide3"></div> 
        <div class="circle background-darkgray" data-slide="slide4"></div>
        <div class="circle background-darkgray" data-slide="slide5"></div>
      </div>
      <style>
        #slide1, #slide2, #slide3, #slide4, #slide5 { 
          height: 100vw; 
          overflow: hidden;
        }
        #slide1 { 
          background-image: url("{{'slide1.jpg' | asset_url}}"); 
          background-size: cover;
        }
        .circle {
          height: 10px;
          width: 10px;
          display: inline-block;
          border-radius: 100%;
          margin: auto 2.5px;
          cursor: pointer;
        }
        .no-pad { padding: 0 !important; }
        #slide1 #custom-gekks { width: 150px; margin: 0 auto; }
        @media only screen and (max-width: 588px) {
          .img-container {
           overflow: hidden;
          height: calc(100vw - 82px);
           position: relative;
          }
          #slide1 p { font-size: 12pt; }
          #slide1-text-wrap {
            max-width: 275px;
            margin: 0 auto;
          }
        }
        @media only screen and (min-width: 589px) and (max-width: 799px) {
          .img-container {
           overflow: hidden;
          height: calc(100vw - 165.174px);
           position: relative;
          }
          #slide1 p { font-size: 12pt; }
          #slide1-text-wrap {
            max-width: 275px;
            margin: 0 auto;
          }
        }

#atf2 img {
      display: block;
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
    }
.mobile-shopnow {
    margin-top: -63px;
    z-index: 1;
    position: absolute;
    margin-left: 20px;
    width: 150px;
    border-radius: 0;
}
     
        .text-orange {
          color: #DC5729;
          font-weight: 300;
        }
        #slide1, #d-slide1 { background-color: #81945c;}
        #slide2, #d-slide2 {background-color: #fcfe91;}
        #slide3, #d-slide3 {background-color: #d9f8eb;}
        #slide4, #d-slide4 {background-color: #535459;}
        #slide5, #d-slide5 {background-color: #ffdf99;}

       </style>
  <script>
      $(document).ready(function() {

       setInterval(function(){ 
        var visibleSlide = $('.slideshow > div:visible').attr("id")
        if (visibleSlide == "slide5") {
          $('.slideshow > div:visible').hide();
          $('#slide1').show(); 
          $('.circle.background-green').removeClass('background-green').addClass('background-darkgray')
          $('.circle:first-of-type').addClass('background-green').removeClass('background-darkgray')
        }
        else {          
          $('.slideshow > div:visible').hide().next('.slideshow > div').show()
          $('.circle.background-green').removeClass('background-green').addClass('background-darkgray').next('.circle').addClass('background-green').removeClass('background-darkgray')
        }
        }, 5000);
      })

      $('.circle').click(function() {
        var newSlide = "#" + $(this).data("slide")
         $('.slideshow > div:visible').hide()
         $(newSlide).show()
         $(this).addClass('background-green').removeClass('background-darkgray').siblings().removeClass('background-green').addClass('background-darkgray')
      })
       </script>
<section class="fw endorsements-features" id="featured"><ul class="background-beige"><li><h3>featured in</h3></li><li><img src="{{'BuzzFeed.png' | asset_url}}" alt="BuzzFeed"/></li><li><img src="{{'simple.png' | asset_url}}" alt="Real Simple" /></li><li><img src="{{'vogue.png' | asset_url}}" alt="Vogue"/></li><li><img src="{{'maxim.png' | asset_url}}" alt="Maxim"/></li><li><img src="{{'who-what-wear-press.png' | asset_url}}" alt="Teen Vogue"/></li></ul> </section> 


<section class="fw index-padding flex-container">
  <div id="check-it">
    <div class="title-border"></div><h2 class="nmb">Check it<br class="do"> out<br class="mo"> for<br class="do"> yourself</h2><p class="subscript tac mo-plus fw">drag to rotate</p></div> <iframe class="Sirv" id="spin-frame" src="https://sibepher.sirv.com/Geek%20Flats%20NEW/Geek%20Flats%20NEW.spin" width="66%" frameborder="0"></iframe><ul id="interactive-gekks"><li class="current-switch"><h3><div class="switch-button clickable" id="switch-to-flat">flats</div></h3></li><li><h3><div class="switch-button clickable" id="switch-to-loafer">loafers</div></h3></li><li><h3><div class="switch-button clickable" id="switch-to-sneaker">sneakers</div></h3></li><li class="ndo-plus"><h3 class="vhidden">X</h3></li><li><h3><div class="shoe-switch clickable">see in shoe</div></h3></li></ul> </section> <section class="fw tac" id="mission"><div><h2 class="text-green nm">Our Mission</h2><p>Gekks use innovative technology and premium ingredients, so our customers and <br class="ndo-plus"> their soles can enjoy the day-to-day in comfort and style.</p> </div></section> <section class="index-padding"><div class="title-border"></div><h2>The most innovative no show sock</h2><ul class="icon-display"><li data-aos="slide-up"><img data-src="{{'sweat.svg' | asset_url}}" class="lazyload" alt="Sweat Reducing"/><br><span class="text-green">reduces foot sweat & odor</span></li><li data-aos="slide-up"><img data-src="{{'comfortable.svg' | asset_url}}" class="lazyload" alt="Comfortable" /><br><span class="text-green">comfortable</span></li><li data-aos="slide-up"><img data-src="{{'convenient.svg' | asset_url}}" class="lazyload" alt="Convenient"/><br><span class="text-green">convenient</span></li><li data-aos="slide-up"><img data-src="{{'longlasting.svg' | asset_url}}" class="lazyload" alt="Long Lasting" /><br><span class="text-green">long lasting</span></li></ul> </section> 

<section id="shop-grid">
  <div id="lifestyle-w" class="ndo-plus"><img data-src="{{'heels-lifestyle.jpg' | asset_url}}" class="lazyload of" />
  </div> 
  <a href="/collections/women" onclick="ga('send', 'event', 'Masonry', 'Click', 'Women');"><div id="shop-w">
    <h2 class="text-white">shop women</h2>
  </div>
  </a> 
  <a href="/products/the-mens-closet-pack" onclick="ga('send', 'event', 'Masonry', 'Click', 'Men');"><div id="shop-m"><h2 class="text-white">shop men</h2></div></a>

  <div id="lifestyle-m" class="ndo-plus"><img data-src="{{'sneakers-lifestyle.jpg' | asset_url}}" class="lazyload of" /></div> </section>

      <iframe src="https://gekksworks.herokuapp.com/welcome/show" id="iFrame1"/> </iframe>
<style>
#iFrame1 {
    width: 1px;
    min-width: 100%;
    border: none;
  }
</style> 
<script>

 $("#iFrame1").on("load", function () {
  $('#iFrame1').iFrameResize( [{
    checkOrigin:false,
    log:true,
    minHeight:15000,
    heightCalculationMethod:'lowestElement'
  }] );
});
</script>
<section id="take-the-quiz" class="tac"><h1 class="text-green tac">Find Your Perfect Match.</h1> <a href="/pages/customize"><div class="button border-green text-green" onclick="ga('send', 'event', 'Index Page', 'Click', 'Customize Flow');">Start</div></a> </section></div></div></div> <script>on_index=true;</script>

<script>
  $(document).ready(function () {
    setInterval(function(){
      if ($("#custom-gekks").is(":visible")) {
        $( ".button" ).first().effect( "shake", {direction: 'right', distance: '5', times: 1 }, 600 )
      }
      }, 6000);
  }); 
</script>