<main>
<div class="index-sections">
  <div>
    <div id="index-page"> 
      <section id="ab-prev">
        <div class="flex-container-no">
          <div class="half accent-padding tar">

            <img src="{{'New_ATF_Flat.jpg' | asset_url}}" id="flat-atf-prev">
            <img src="{{'New_ATFHeel.jpg' | asset_url}}" id="heel-atf-prev" style="display: none;">
            <img src="{{'New_ATF_Sneaker.jpg' | asset_url}}" id="sneaker-atf-prev"   style="display: none;">
            <img src="{{'New_ATF_Loafer.jpg' | asset_url}}" id="loafer-atf-prev"  style="display: none;">
 
          </div>
          <div class="half accent-padding">
<h1 class="ttu">The Sock<br> That Locks</h1>

            <div id="custom-gekks" class="fw"> 
              <a href="/collections/all">
                <div class="button border-green text-green tac fw"  onclick="ga('send', 'event', 'Above the Fold CTA', 'Click', 'Shop Your Gekks');">shop now</div>
              </a> 
          </div>
          </div>
        </div>
      </section>
      <style>
        @media only screen and (max-width: 399px) {
          #ab-prev h1 { font-size: 16pt; }


        }
        @media only screen and (min-width: 400px) and (max-width: 588px) {
          #ab-prev h1 { font-size: 21pt; }

        }
        @media only screen and (min-width: 589px) and (max-width: 799px) {
          #ab-prev h1 { font-size: 30pt; }

        }
        @media only screen and (min-width: 800px) and (max-width: 1099px) {
          #ab-prev h1 { font-size: 36pt; }

        }
        @media only screen and (min-width: 1100px) and (max-width: 1399px) {
          #ab-prev h1 { font-size: 50pt; }

        }
        @media only screen and (min-width: 1400px) {
          #ab-prev h1 { font-size: 50pt; }

        }
  
        @media only screen and (min-width: 800px) {
          #ab-prev .accent-padding { padding: 50px !important; }
        }
        #ab-prev img { max-width: 100%; }
        #ab-prev a { font-weight: lighter !important; }
      </style>
      <script>
        $(document).ready(function() {
          setInterval(function() {
            var currentImage = $('#ab-prev .half img:visible')
            if (currentImage.attr("id") != "loafer-atf-prev") {
              currentImage.hide().next().fadeIn(2000) 
            }
            else {
              currentImage.hide()
              $('#flat-atf-prev').fadeIn(2000)
            }
          }, 3000)
        })
      </script>
     
<section class="fw endorsements-features" id="featured"><ul class="background-beige"><li><h3>featured in</h3></li><li><img src="{{'BuzzFeed.png' | asset_url}}" alt="BuzzFeed"/></li><li><img src="{{'simple.png' | asset_url}}" alt="Real Simple" /></li><li><img src="{{'vogue.png' | asset_url}}" alt="Vogue"/></li><li><img src="{{'maxim.png' | asset_url}}" alt="Maxim"/></li><li><img src="{{'who-what-wear-press.png' | asset_url}}" alt="Teen Vogue"/></li></ul> </section> 


<section class="fw index-padding flex-container">
  <div id="check-it">
    <div class="title-border"></div><h2 class="nmb">Check it out<br class="mo"> for yourself</h2>
    <div class="flex-container-no check-it">
      <div class="half-no">
        <img src="{{'mens-sneaker-website.jpg' | asset_url}}" class="fw">
      </div>
      <div class="half-no">
        <img src="{{'Toms_Pink.jpg' | asset_url}}" class="fw">
      </div>
      <div class="half-no checkit-do">
        <img src="{{'FlatWebsite.jpg' | asset_url}}" class="fw">
      </div>
      <div class="half-no checkit-do">
        <img src="{{'heel.jpg' | asset_url}}" class="fw">
      </div>
    </div>
    <div class="flex-container-no check-it mo">
      <div class="half-no">
        <img src="{{'Gekks_nude_flat.png' | asset_url}}" class="fw">
      </div>
      <div class="half-no">
        <img src="{{'heel.jpg' | asset_url}}" class="fw">
      </div>
    </div>
  </div>
  <style>
  @media only screen and (max-width: 588px) {
    .checkit-do { display: none; }
  }
</style>
  </section> 

    <section class="fw tac" id="mission"><div><h2 class="text-green nm">Our Mission</h2><p>Gekks use innovative technology and premium ingredients, so our customers and <br class="ndo-plus"> their soles can enjoy the day-to-day in comfort and style.</p> </div></section> 

    <section class="index-padding"><div class="title-border"></div><h2>The most innovative no show sock</h2><ul class="icon-display"><li data-aos="slide-up"><img data-src="{{'sweat.svg' | asset_url}}" class="lazyload" alt="Sweat Reducing"/><br><span class="text-green">reduces foot sweat & odor</span></li><li data-aos="slide-up"><img data-src="{{'comfortable.svg' | asset_url}}" class="lazyload" alt="Comfortable" /><br><span class="text-green">comfortable</span></li><li data-aos="slide-up"><img data-src="{{'convenient.svg' | asset_url}}" class="lazyload" alt="Convenient"/><br><span class="text-green">convenient</span></li><li data-aos="slide-up"><img data-src="{{'longlasting.svg' | asset_url}}" class="lazyload" alt="Long Lasting" /><br><span class="text-green">long lasting</span></li></ul> </section> 

<section id="shop-grid">
  <div id="lifestyle-w" class="ndo-plus"><img data-src="{{'heels-lifestyle.jpg' | asset_url}}" class="lazyload of" />
  </div> 
  <a href="/collections/women" onclick="ga('send', 'event', 'Masonry', 'Click', 'Women');"><div id="shop-w">
    <h2 class="text-white">shop women</h2>
  </div>
  </a> 
  <a href="/products/the-mens-closet-pack" onclick="ga('send', 'event', 'Masonry', 'Click', 'Men');"><div id="shop-m"><h2 class="text-white">shop men</h2></div></a>

  <div id="lifestyle-m" class="ndo-plus"><img data-src="{{'sneakers-lifestyle.jpg' | asset_url}}" class="lazyload of" /></div> </section>

      <iframe src="https://gekksworks.herokuapp.com/welcome/show" id="iFrame1"/> </iframe>
<style>
#iFrame1 {
    width: 1px;
    min-width: 100%;
    border: none;
  }
</style> 
<script>

 $("#iFrame1").on("load", function () {
  $('#iFrame1').iFrameResize( [{
    checkOrigin:false,
    log:true,
    minHeight:15000,
    heightCalculationMethod:'lowestElement'
  }] );
});
</script>
<section id="take-the-quiz" class="tac"><h1 class="text-green tac">Find Your Perfect Match.</h1> <a href="/pages/customize"><div class="button border-green text-green" onclick="ga('send', 'event', 'Index Page', 'Click', 'Customize Flow');">Start</div></a> </section></div></div></div> <script>on_index=true;</script>

<script>
  $(document).ready(function () {
    setInterval(function(){
      if ($("#custom-gekks").is(":visible")) {
        $( ".button" ).first().effect( "shake", {direction: 'right', distance: '5', times: 1 }, 600 )
      }
      }, 6000);
  }); 
</script>
</main>