    <main id="bundle-page">	     
	     <section class="tac text-green page-header">
          <h1>Build your Bundle</h1>
      	</section>
        <section class="index-padding">
          <p class="tac"><span>Bundle any style, color, size and save!<br></span>
          <div class="flex-container-no jces">
            <p class="third nm pricing-font">2 pairs: <span class="strikethrough">$36.00</span> $32.00</p>
            <p class="third nm pricing-font">3 pairs: <span class="strikethrough">$54.00</span> $42.00</p>
            <p class="third nm pricing-font">4 pairs: <span class="strikethrough">$72.00</span> $48.00</p>
          </div>
          <p class="tac nmt pricing-font">5+ pair: <span class="strikethrough">$90.00+</span> $60.00+ & Free Shipping!</p>
        	<div class="tac fw accent-padding flex-container-no jcc select-gender-style aife">
            <div id="womens-bundle-choice">
        		  <img src="{{'Icon-woman.svg' | asset_url}}" class="icon highlight" />
              <h5 class="text-green nm">Shop Women's</h5>
            </div>
            <div id="mens-bundle-choice">
        		  <img src="{{'Icon-man.svg' | asset_url}}" class="icon"/>
              <h5 class="text-green nm">Shop Men's</h5>
            </div>
        	</div>
          <h2 class="text-green">Select Style</h2>
          <div class="flex-container-no womens-bundle">
            <div class="half">
              <img src="//cdn.shopify.com/s/files/1/0424/0893/products/3_2000x2000.jpg?v=1573054961" class="fw">
              <h4 class="tac bundle-style" id="create-loafers">Loafers</h4>
            </div>
            <div class="half">
              <img src="//cdn.shopify.com/s/files/1/0424/0893/products/3_eb0a0759-4910-43dd-9bb8-daa0c386d7b6_2000x2000.jpg?v=1573055042" class="fw">
              <h4 class="tac bundle-style" id="create-sneakers">Sneakers</h4>
            </div>
          </div>
          <div class="flex-container-no womens-bundle">
            <div class="half">
              <img src="{{'Nude_Flat_4.jpg' | asset_url}}" class="fw">
              <h4 class="tac bundle-style" id="create-flats">Flats</h4>
            </div>
            <div class="half">
              <img src="{{'heelshot.jpg' | asset_url}}" class="fw">
              <h4 class="tac bundle-style" id="create-heels">Heels</h4>
            </div>
          </div>
          <div class="flex-container-no mens-bundle" style="display: none;">
            <div class="half">
              <img src="{{'placeholder.png' | asset_url}}" class="fw">
              <h4 class="tac bundle-style" id="create-mloafers">Loafers</h4>
            </div>
            <div class="half">
              <img src="{{'placeholder.png' | asset_url}}" class="fw">
              <h4 class="tac bundle-style" id="create-msneakers">Sneakers</h4>
            </div>
          </div>
          <h2></h2>
          <section class="border-lightgray accent-padding">
            <h2 class="text-green nm">Your Bundle</h2>
            <p class="subscript">Your Bundle is Currently Empty. Select a Style Above to Get Started.</p>
          </section>
          


          <div class="modal create-loafers" style="display: none;">
            <h3 class="text-green tar bundle-modal-close">✕</h3>
            <img src="{{'placeholder.png' | asset_url}}" id="modal-featured">
            <div class="flex-container-no jcc">
              <div class="bundle-color-selection black highlight" data-variant-id-small="18250901828" data-variant-id-medium="18250902084" data-variant-id-large="18250902276"></div>
              <div class="bundle-color-selection rose" data-variant-id-small="31001775046733" data-variant-id-medium="31001775079501" data-variant-id-large="31001775112269"></div>
              <div class="bundle-color-selection green" data-variant-id-small="31001768788045" data-variant-id-medium="31001768984653" data-variant-id-large="31001769017421"></div>
              <div class="bundle-color-selection blue" data-variant-id-small="31001769410637" data-variant-id-medium="31001769443405" data-variant-id-large="31001769476173"></div>
            </div>
            <div class="flex-container-no">
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
            </div>
            <div class="flex-container-no accent-padding">
              <select class="build-bundle-size">
               <option value="small">small (us:5-6.5)</option>
               <option value="medium" selected>medium (us:7-8.5)</option>
               <option value="large">large (us:9-11.5)</option>
              </select> 
              <select class="build-bundle-quantity">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <div class="add-to-bundle-button background-green clickable"><h3 class="tac nm text-white">add to bundle</h3></div>
            </div>
          </div>
            <div class="modal create-sneakers" style="display: none;">
            <h3 class="text-green tar bundle-modal-close">✕</h3>
            <img src="{{'placeholder.png' | asset_url}}" id="modal-featured">
            <div class="flex-container-no jcc">
              <div class="bundle-color-selection black highlight" data-variant-id-small="18250901828" data-variant-id-medium="18250902084" data-variant-id-large="18250902276"></div>
              <div class="bundle-color-selection rose" data-variant-id-small="31001775046733" data-variant-id-medium="31001775079501" data-variant-id-large="31001775112269"></div>
              <div class="bundle-color-selection green" data-variant-id-small="31001768788045" data-variant-id-medium="31001768984653" data-variant-id-large="31001769017421"></div>
              <div class="bundle-color-selection blue" data-variant-id-small="31001769410637" data-variant-id-medium="31001769443405" data-variant-id-large="31001769476173"></div>
            </div>
            <div class="flex-container-no">
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
            </div>
            <div class="flex-container-no accent-padding">
              <select class="build-bundle-size">
               <option value="small">small (us:5-6.5)</option>
               <option value="medium" selected>medium (us:7-8.5)</option>
               <option value="large">large (us:9-11.5)</option>
              </select> 
              <select class="build-bundle-quantity">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <div class="add-to-bundle-button background-green clickable"><h3 class="tac nm text-white">add to bundle</h3></div>
            </div>
          </div>
            <div class="modal create-flats" style="display: none;">
            <h3 class="text-green tar bundle-modal-close">✕</h3>
            <img src="{{'placeholder.png' | asset_url}}" id="modal-featured">
            <div class="flex-container-no jcc">
              <div class="bundle-color-selection black highlight" data-variant-id-small="18250901828" data-variant-id-medium="18250902084" data-variant-id-large="18250902276"></div>
              <div class="bundle-color-selection rose" data-variant-id-small="31001775046733" data-variant-id-medium="31001775079501" data-variant-id-large="31001775112269"></div>
              <div class="bundle-color-selection green" data-variant-id-small="31001768788045" data-variant-id-medium="31001768984653" data-variant-id-large="31001769017421"></div>
              <div class="bundle-color-selection blue" data-variant-id-small="31001769410637" data-variant-id-medium="31001769443405" data-variant-id-large="31001769476173"></div>
            </div>
            <div class="flex-container-no">
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
            </div>
            <div class="flex-container-no accent-padding">
              <select class="build-bundle-size">
               <option value="small">small (us:5-6.5)</option>
               <option value="medium" selected>medium (us:7-8.5)</option>
               <option value="large">large (us:9-11.5)</option>
              </select> 
              <select class="build-bundle-quantity">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <div class="add-to-bundle-button background-green clickable"><h3 class="tac nm text-white">add to bundle</h3></div>
            </div>
          </div>
            <div class="modal create-heels" style="display: none;">
            <h3 class="text-green tar bundle-modal-close">✕</h3>
            <img src="{{'placeholder.png' | asset_url}}" id="modal-featured">
            <div class="flex-container-no jcc">
              <div class="bundle-color-selection black highlight" data-variant-id-small="18250901828" data-variant-id-medium="18250902084" data-variant-id-large="18250902276"></div>
              <div class="bundle-color-selection rose" data-variant-id-small="31001775046733" data-variant-id-medium="31001775079501" data-variant-id-large="31001775112269"></div>
              <div class="bundle-color-selection green" data-variant-id-small="31001768788045" data-variant-id-medium="31001768984653" data-variant-id-large="31001769017421"></div>
              <div class="bundle-color-selection blue" data-variant-id-small="31001769410637" data-variant-id-medium="31001769443405" data-variant-id-large="31001769476173"></div>
            </div>
            <div class="flex-container-no">
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
            </div>
            <div class="flex-container-no accent-padding">
              <select class="build-bundle-size">
               <option value="small">small (us:5-6.5)</option>
               <option value="medium" selected>medium (us:7-8.5)</option>
               <option value="large">large (us:9-11.5)</option>
              </select> 
              <select class="build-bundle-quantity">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <div class="add-to-bundle-button background-green clickable"><h3 class="tac nm text-white">add to bundle</h3></div>
            </div>
          </div>
            <div class="modal create-msneakers" style="display: none;">
            <h3 class="text-green tar bundle-modal-close">✕</h3>
            <img src="{{'placeholder.png' | asset_url}}" id="modal-featured">
            <div class="flex-container-no jcc">
              <div class="bundle-color-selection black highlight" data-variant-id-small="18250901828" data-variant-id-medium="18250902084" data-variant-id-large="18250902276"></div>
              <div class="bundle-color-selection rose" data-variant-id-small="31001775046733" data-variant-id-medium="31001775079501" data-variant-id-large="31001775112269"></div>
              <div class="bundle-color-selection green" data-variant-id-small="31001768788045" data-variant-id-medium="31001768984653" data-variant-id-large="31001769017421"></div>
              <div class="bundle-color-selection blue" data-variant-id-small="31001769410637" data-variant-id-medium="31001769443405" data-variant-id-large="31001769476173"></div>
            </div>
            <div class="flex-container-no">
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
            </div>
            <div class="flex-container-no accent-padding">
              <select class="build-bundle-size">
               <option value="small">small (us:5-6.5)</option>
               <option value="medium" selected>medium (us:7-8.5)</option>
               <option value="large">large (us:9-11.5)</option>
              </select> 
              <select class="build-bundle-quantity">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <div class="add-to-bundle-button background-green clickable"><h3 class="tac nm text-white">add to bundle</h3></div>
            </div>
          </div>
            <div class="modal create-mloafers" style="display: none;">
            <h3 class="text-green tar bundle-modal-close">✕</h3>
            <img src="{{'placeholder.png' | asset_url}}" id="modal-featured">
            <div class="flex-container-no jcc">
              <div class="bundle-color-selection black highlight" data-variant-id-small="18250901828" data-variant-id-medium="18250902084" data-variant-id-large="18250902276"></div>
              <div class="bundle-color-selection rose" data-variant-id-small="31001775046733" data-variant-id-medium="31001775079501" data-variant-id-large="31001775112269"></div>
              <div class="bundle-color-selection green" data-variant-id-small="31001768788045" data-variant-id-medium="31001768984653" data-variant-id-large="31001769017421"></div>
              <div class="bundle-color-selection blue" data-variant-id-small="31001769410637" data-variant-id-medium="31001769443405" data-variant-id-large="31001769476173"></div>
            </div>
            <div class="flex-container-no">
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
              <div class="quarter"><img src="{{'placeholder.png' | asset_url}}" class="fw"></div>
            </div>
            <div class="flex-container-no accent-padding">
              <select class="build-bundle-size">
               <option value="small">small (us:5-6.5)</option>
               <option value="medium" selected>medium (us:7-8.5)</option>
               <option value="large">large (us:9-11.5)</option>
              </select> 
              <select class="build-bundle-quantity">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <div class="add-to-bundle-button background-green clickable"><h3 class="tac nm text-white">add to bundle</h3></div>
            </div>
          </div>
        </main>

  

        	<script>
        		$('.bundle-style').click(function() {
        			var sku =  "." + $(this).attr("id")
              console.log(sku)
        			$(sku).show(); 
      				$('header, main, footer, #banner-cta, .index-sections, .mobile-nav1').addClass('darken');
        		})
        		$('.select-gender-style div').click(function() {
        			$(this).children('img').addClass('highlight').parent().siblings().children().removeClass('highlight')
        			if ($(this).attr("id") == "womens-bundle-choice") {
        				$('.womens-bundle').show()
        				$('.mens-bundle').hide(); 
        			}
        			else if ($(this).attr("id") == "mens-bundle-choice") {
        				$('.womens-bundle').hide()
        				$('.mens-bundle').show(); 
        			}
        		})
        	</script>
        	
<style>
#modal-featured { 
  display: block;
  margin: 20px auto;
  width: 300px;
 }
.build-bundle-size, .build-bundle-quantity {
  margin-top: 0px;
  margin-right: 10px;
}
 .bundle-modal-close {
  margin-right: 20px; 
  font-size: 20pt;
  cursor: pointer;
}

.womens-bundle h4, .mens-bundle h4 {
    background: #6DCDB8;
    padding: 10px;
    color: white;
    box-shadow: 1px 1px 2px grey;
    margin-bottom: 0;
    cursor: pointer;
}
.womens-bundle { align-items: flex-end; }
.select-gender-style div { 
  margin: 0 10px; 
  align-self: flex-end; 
}
.add-to-bundle-button  {
    display: inline-block;
    width: 50%;
    padding: 10px;
}
.rose { background-color: #efc3be; }
.green { background-color: #0ad4c4; }
.blue { background-color: #1c7baa; }
.beige { background-color: #F9F2ED; }
.black { background-color: #000; }
.bundle-color-selection {
  width: 25px; 
  height: 25px; 
  border-radius: 100%; 
  cursor: pointer;
  display: inline-block;
  border: 2px solid white; 
  margin: 20px 10px;
}
.quarter { margin: 0 2.5px;d }
.highlight {border: 2px solid darkgray;}
@media only screen and (max-width: 588px) {
  .pricing-font { font-size: 7pt; }
  .pricing-font span { font-size: 6pt; }
  #bundle-page .icon { width: 35px;  }

}
.womens-bundle .half, .mens-bundle .half { margin: 10px; padding-top: 0;}
.highlight {border: 2px solid #6DCDB8; border-radius: 100%;}
.icon { width: 50px;  }
.scroll-product-photos { 
width: 100px; 
display: inline-block;
vertical-align: middle;
}
.scroll-product-photos.featured { 
width: 300px !important; 
}
.scroll-product-photos img { 
max-width: 100%;
vertical-align: middle;
}
.modal { background-color: white; width: 400px;}
#bundle-page .page-header {
  background-image: url("{{'SockCircle.png' | asset_url}}") ;
  background-position: center;
  background-repeat: no-repeat;
    background-size: 60%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
