{% layout 'theme.flow' %} 
<div class="index-sections" id="flow">
    <h5 class="text-green tar close-flow"><a href="/?sh=d" onClick="ga('send', 'event', 'Education', 'Progress', 'Close');">✕</a></span></h5>
    <section class="flex-container-no jcc" id="flow-slide-1">
        <div class="tac">
            <h2 class="nm">Free Your <br><span class="text-green">Feet.</span></h2>
            <p>wish you could<br> #gosockless without...</p>
            <ul class="bulleted-list">
                <li>your no show socks<br> sliding down all day?</li>
                <li>your feet smelling like<br> rotten eggs?</li>
                <li>constantly getting<br> blisters</li>
            </ul>
            <h3>Yeah, we did too.<br> That's why we invented Gekks, <br><span class="text-green">the ultimate no-show sock.</span></h3>
            <button class="flow-button continue accent-padding background-green" onClick="ga('send', 'event', 'Education', 'Progress', 'Flow Start');"><h3 class="text-white nm">let's get started</h3></button>
        </div>
    </section>
    <section class="flex-container-no jcc" id="flow-slide-2" style="display: none;">
        <div class="tac">
            <h3>let's start with some basics</h3>
            <p class="subscript">what styles will you be shopping for?</p>
            <ul>
                <li class="sbutton woman-selection border-beige flex-container-no accent-padding" onClick="ga('send', 'event', 'Education', 'Gender', 'Woman');"><img src="{{'Icon-woman.svg' | asset_url}}" /><div>women's</div></li>
                <li class="sbutton man-selection accent-padding border-beige flex-container-no" onClick="ga('send', 'event', 'Education', 'Gender', 'Man');"><img src="{{'Icon-man.svg' | asset_url}}" /><div>men's</div></li>
            </ul>
            <p class="error tac" style="display: none;">please select an option</p>
            <p class="subscript">did you know that the average person<br class="do"> spends a month of their life searching <br class="do">for socks in their sock drawer?</p>
            <p class="subscript">what a waste of time.</p>
            <button class="flow-button accent-padding background-green male-female-choice" onClick="ga('send', 'event', 'Education', 'Progress', 'Male / Female');"><h3 class="text-white nm">ready!</h3></button>
        </div>
    </section>
    <section class="flex-container-no jcc" id="flow-slide-3" style="display: none;">
        <div class="tac">
            <h3>tap your sockless style problems</h3>
            <p>select as many as you'd like</p>
             <ul id="select-your-problems">
              <div class="flip-container">
                <div class="flipper">
                  <div class="front">
                    <li class="sbutton smell flip-b" onClick="ga('send', 'event', 'Education', 'Problem', 'Smell');"><img src="{{'Icon-smell.png' | asset_url}}" class="lazyload" />
                    <div>your feet smelling like... yeah</div>got stench not even your
                    <br>mother could love?</li>
                  </div>
                  <div class="back-card">
                    <li class="sbutton flip-b">
                    <div>Gekks are knit with odor killing yarn</div>(the same yarn used by<br> the military & NASA)</li>
                  </div> 
                </div>
            </div>
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                  <li class="sbutton slip flip-b" onClick="ga('send', 'event', 'Education', 'Problem', 'Slip');"><img src="{{'Icon-sock-adjust.png' | asset_url}}" />
                  <div>constant sock adjustment</div>
                  your "no slip" no-shows slip
                  <br>down your heel.</li>
                </div>
                <div class="back-card">
                  <li class="sbutton flip-b">
                  <div>unlike all other no-shows,</div>Gekks lock and stay <br><b>INSIDE</b> your shoes</li> 
                  </div>
                </div> 
            </div>
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                <li class="sbutton lost flip-b" onClick="ga('send', 'event', 'Education', 'Problem', 'Search');"><img src="{{'Icon-sock-drawer.png' | asset_url}}"  />
                    <div>searching your sock drawer</div>your socks aren't organized,<br> don't lie.</li>
                </div>
                <div class="back-card">
                  <li class="sbutton flip-b">
                  <div style="margin-top: -3px;">you don't put them on, <br>
                  they stay in your shoes.
                  </div>never search for socks again</li></div>
                </div>
            </div>
            <div class="flip-container">
              <div class="flipper">
                <div class="front">
                <li class="sbutton heel flip-b" onClick="ga('send', 'event', 'Education', 'Problem', 'Blister');"><img src="{{'Icon-blister.png' | asset_url}}" />
                    <div>heel blisters</div>your heels look like you got attacked
                    <br>by a 3-inch tall bear.</li>
                    </div>
                <div class="back-card">
                  <li class="sbutton flip-b">
                  <div>sock comfort in the front,</div>heel blister protection<br> in the back</li></div>
                </div>
            </div>
            </ul>
            <button class="flow-button continue accent-padding background-green" onClick="ga('send', 'event', 'Education', 'Progress', 'Problem Feedback');"><h3 class="text-white nm">cool!</h3></button>
        </div>
    </section>
    <section class="flex-container-no jcc" style="display: none;" id="flow-slide-4">
        <div class="tac">
            <h2>how are <br>Gekks different?</h2>
            <ul id="problem-info">
                <li>unlike all other no-shows, <br>Gekks lock and stay <b>INSIDE</b> your shoes</li>
                <li>knit with the same odor<br> eliminating yarn used by the<br> military and NASA </li>
                <li>sock comfort in the front,<br> heel blister protection in<br> the back</li>
            </ul>
            <button class="flow-button continue accent-padding background-green" onClick="ga('send', 'event', 'Education', 'Progress', '1,2,3');"><h3 class="text-white nm">cool!</h3></button>
        </div>
    </section>
    <section class="flex-container-no jcc" id="flow-slide-5" style="display:none;">
        <div class="tac">
           <h3>watch Gekks in action</h3>
           <img data-src="{{'updated-be.gif' | asset_url }}" alt="Slip in and Out Barefoot" class="in-flow-video lazyload"/>
            <button class="flow-button continue accent-padding background-green" onClick="ga('send', 'event', 'Education', 'Progress', 'Gif');"><h3 class="text-white nm">solve my problems</h3></button>
        </div>
    </section>
    <section id="flow-slide-6" class="flex-container-no jcc" style="display:none;">
        <div class="tac"> 
            <h4>almost done...</h4>
            <h3>what shoe styles do you<br> like to look sockless in?</h3>
            <ul class="icon-flow-list">
                <li class="sbutton flats border-beige accent-padding" onClick="ga('send', 'event', 'Education', 'Style', 'Flats');"><img src="{{'Gekks-Icon-Flats_NEW.png' | asset_url}}" /><div>flats</div>ballet flats, mary jane, etc.</li>
                <li class="sbutton heels border-beige accent-padding" onClick="ga('send', 'event', 'Education', 'Style', 'Heels');"><img src="{{'Gekks-Icon-Heel_NEW.png' | asset_url}}" /><div>heels</div>heels, wedges, pumps, etc.</li>
                <li class="sbutton loaf border-beige accent-padding" onClick="ga('send', 'event', 'Education', 'Style', 'Loafer');"><img src="{{'Gekks-Icon-Loafer_NEW.png' | asset_url}}" /><div>loafers & slip-ons</div>boat shoes, lace-less shoes</li>
                <li class="sbutton sn accent-padding border-beige" onClick="ga('send', 'event', 'Education', 'Style', 'Sneaker');"><img src="{{'Gekks-Icon-Sneaker_NEW.png' | asset_url}}" /><div>sneakers & lace-ups</div>tennis shoes, shoes with laces, etc.</li>
            </ul>
            <p class="error tac" style="display: none;">please select an option</p>
            <button class="flow-button flow-shoe-selection accent-padding background-green" onClick="ga('send', 'event', 'Education', 'Progress', 'Style Selection');"><h3 class="text-white nm">show my results</h3></button>
        </div>
    </section>
    <section id="flow-slide-7" class="flex-container-no jcc" style="display: none;">
        <div class="tac">
            <h3>based on your answers,<br> you've been matched with...</h3>
            <h1 id="rtitle" class="text-green nm"></h1>
            <img data-src="{{'flats.png' | asset_url}}" style="display: none;" id="flats-results" class="results-icon lazyload"/>
            <img data-src="{{'sneakers.png' | asset_url}}" style="display: none;" id="sn-results" class="results-icon lazyload"/>
            <img data-src="{{'womensloafer.png' | asset_url}}" style="display: none;" id="loaf-results" class="results-icon lazyload"/>
            <img data-src="{{'heels.png' | asset_url}}" style="display: none;" id="heels-results" class="results-icon lazyload"/>
            <img data-src="{{'BundleThumbnail_OfficePack.png' | asset_url}}" style="display: none;" id="office-results" class="results-icon lazyload"/>
            <img data-src="{{'BundleThumbnail_MensClosetPack.png' | asset_url}}" style="display: none;" id="mens-results" class="results-icon lazyload"/>
            <img data-src="{{'BundleThumbnail_CasualPack.png' | asset_url}}" style="display: none;" id="casual-results" class="results-icon lazyload"/>
            <img data-src="{{'BundleThumbnail_WomensClosetPack.png' | asset_url}}" style="display: none;" id="wcpak-results" class="results-icon lazyload"/>
            <img data-src="{{'BundleThumbnail_TrialPack.png' | asset_url}}" style="display: none;" id="trial-results" class="results-icon lazyload"/>

            <p id="rdescription" class="nmt"></p>
            <a href="/collections/all" id="rlink" onClick="ga('send', 'event', 'Education', 'Progress', 'Flow End');"><button class="accent-padding background-green"><h3 class="text-white nm">let's do it!</h3></button></a>
            <a href="/pages/reviews"><button class="accent-padding background-green"><h3 class="text-white nm">reviews</h3></button></a>
            <div class="flex-container-no">
               <div class="quarter">
                    <img data-src="{{'simple.png' | asset_url}}" alt="Real Simple" class="pres-log lazyload" style="margin-left: 0;"/>
                </div>
               <div class="quarter">
                    <img data-src="{{'maxim.png' | asset_url}}" alt="Maxim" class="pres-log lazyload" />
                </div>
               <div class="quarter">
                    <img data-src="{{'vogue.png' | asset_url}}" alt="Vogue" class= "lazyload pres-log" />
                </div>
               <div class="quarter">
                    <img data-src="{{'BuzzFeed.png' | asset_url}}" alt="BuzzFeed" class="pres-log lazyload" />
                </div>
            </div>
        </div>
    </section>
</div>
<style>
    #flow-slide-1 {
        background-image: url("{{'Pairs-01.svg' | asset_url}}");
        background-repeat: no-repeat;        
    }
    #flow-slide-2 {
        background-image: url("{{'Pairs-02.svg' | asset_url}}");
        background-repeat: no-repeat;
        background-position: right;
    }
    #flow-slide-4  {
        background-image: url("{{'Pairs-03.svg' | asset_url}}");
        background-repeat: no-repeat;
    }


    @media only screen and (min-width: 800px) {
        section { 
            min-height: calc(100vh - 450px);
            margin: 50px;
        }
        .close-flow { display: none; }
    }
    @media only screen and (max-width: 799px) {
        header, footer { display: none; }
        section { min-height: 80vh;}
        .index-sections{ margin-top: 0 !important; }
        #flow #flow-slide-1 h2 { font-size: 45pt; }
       .bulleted-list { font-size: 14pt; }
        #slide-1 p { font-size: 20pt; }
        #flow p { font-size: 14pt;}
        #flow h3 { font-size: 16pt; }
        #flow h2 { font-size: 20pt; }
    }
    #rdescription {
        max-width: 320px;
        margin: 20px auto;
    }
    .results-icon { width: 50%; }
    ul.bulleted-list { 
        list-style: disc;
        text-align: left;
        width: fit-content;
        margin: 0 auto;
    }
    button { 
        width: 300px; 
        border-radius: 5px;
        margin: 5px;
        cursor: pointer;
    }
    .sbutton { 
        margin: 10px; 
        border-radius: 10px;
    }
    /* to prevent margin collapse on sections */
    .index-sections { padding-top: 1px; }
    /* tagged important to override the gray border */
    .border-green {
        border: 2px solid #6DCDB8 !important;
    }
    #flow-slide-2 img { 
        max-width: 40px; 
        margin-right: 10px;
    }
    .accent-padding { padding: 10px; }
    /*sockless style flip animations*/
    .front, .icon-flow-list li { font-size: 8pt;}
    .front div, .icon-flow-list li div { font-size: 13pt; }
    .flip-container { perspective: 1000; }
    .flipped {
        -webkit-transform:rotateY(180deg);
        -moz-transform:rotateY(180deg);
        -ms-transform:rotateY(180deg);
        -o-transform:rotateY(180deg);
        transform:rotateY(180deg);
    }
    .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }
    .front, .back-card {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
    .front { z-index: 2;}
    .flip-container li img, .icon-flow-list li img {
        float: left;
        position: relative;
        max-height: 100%;
        max-width: none;
        margin-right: 10px;
    }
    .icon-flow-list li { 
        height: 58px;
        border: 2px solid #F9F2ED;
        text-align: left;
        width: 95%;
        margin: 10px auto; 
        box-sizing: border-box;
    }
    .pres-log { 
        max-width: 100px;
        width: 100%;
    }
    .quarter { margin: 50px 20px; }
    body section .flip-b{
        box-sizing: border-box;
        margin: 10px 5px;
        height: 68px;
        padding: 10px;
        border: 2px solid #F9F2ED;
        text-align: left;
        width: 97%;
    }
    .back-card { transform: rotateY(180deg);}
    .back-card .sbutton {
        border: 2px solid #F9F2ED !important;
        text-align: center;
        background-color: #F9F2ED !important;
        font-size: 10pt;
    }
    @media only screen and (min-width:800px) {
        .flip-container, .front, .back-card {
            height: 78px;
            width: 98.5%;
        }
    }
    @media only screen and (max-width: 374px) {
        .flip-container, .front, .back-card {
            height: 78px;
            width: 100%;
        }
    }

    @media only screen and (min-width: 375px) and (max-width: 413px) {
        .flip-container, .front, .back-card {
            width: 365px;
            height: 78px;
            margin: 0 auto;
        }
    }

    @media only screen and (min-width: 414px) and (max-width: 799px) {
        .flip-container, .front, .back-card {
            width: 404px;
            height: 78px;
            margin: 0 auto;
        }
    }
    .close-flow {
        margin: 20px;
        font-size: 15pt;
    }
    /* 1, 2, 3 */
    #problem-info{
       margin: 0 5px; 
       min-height: 70px; 
       width: fit-content;
        margin: 0 auto !important;
    }
    #problem-info li{
        padding: 10px; 
        margin: 0 5px; 
        font-size: 14pt; 
        min-height: 70px;
        text-align: left;
    }
    #problem-info li:nth-of-type(1):before{
        content: "1"; 
        font-size: 50pt; 
        vertical-align: top; 
        line-height: inherit; 
        float: left; 
        color:#6DCDB8; 
        margin-top: -10px; 
        margin-right: 20px; 
        font-weight: 700;
    }
    #problem-info li:nth-of-type(2):before{
        content: "2"; 
        font-size: 50pt; 
        vertical-align: top; 
        line-height: inherit; 
        float: left; 
        color: #6DCDB8; 
        margin-top: -10px; 
        margin-right: 20px; 
        font-weight: 700;
    }
    #problem-info li:nth-of-type(3):before{
        content: "3"; 
        font-size: 50pt; 
        vertical-align: top; 
        line-height: inherit; 
        float: left; 
        color: #6DCDB8; 
        margin-top: -10px; 
        margin-right: 20px; 
        font-weight: 700;
    }
    .in-flow-video {
        width: 300px;
        display: block;
        margin: 50px auto;
    }
    .icon-flow-list {
        width: 320px;
        margin: 10px auto;
        text-align: left;
    }
    .icon-flow-list img { float: right; }
    .error { color: crimson; }
</style>
<script>
    var womens = false
    var mens = false 
    var flats = 0 
    var sn = 0 
    var loaf = 0 
    var heels = 0 
    $('#flow-slide-2 .sbutton').click(function() {
        $(this).toggleClass('border-green').siblings().removeClass('border-green'); 
        if ($(this).hasClass('woman-selection')) {
           womens = womens ? false : true ;
        }
        else if ($(this).hasClass('man-selection')) {
            mens = mens ? false : true ; 
            if (mens == true ) {
                $('.icon-flow-list .flats, .icon-flow-list .heels').hide(); 
            }
        }
    })
    $('#flow-slide-6 .sbutton').click(function() {
        $(this).toggleClass('border-green');
        if ($(this).hasClass('flats')) {
            flats = flats ? 0 : 1 ; 
        }
        else if ($(this).hasClass('sn')) {
            sn = sn ? 0 : 1 ; 
        }
        else if ($(this).hasClass('loaf')) {
            loaf = loaf ? 0 : 1 ; 
        }
        else if ($(this).hasClass('heels')) {
            heels = heels ? 0 : 1 ; 
        }
    })
    function nextSlide(slide) { 
        $(slide).parent().parent().hide().next('section').show(); 
    }
    // if a button is tagged with continue, move on to the next slide automatically
    $('.continue').click(function() {
        nextSlide($(this)); 
    })
    $('.male-female-choice').click(function() {
        if (mens == true || womens == true ) {
            nextSlide($(this)); 
        }
        else {
            $(this).siblings('.error').show(); 
        }
    })
    // determine suggestion based on which variables were selected and only allows a user to continue if at least one is true 
    var resultsTitle = ""
    var resultsDescription = ""
    var resultsLink = ""
    $('.flow-shoe-selection').click(function() {
        if (flats == 1 || sn == 1 || loaf == 1 || heels == 1) {
            if ( flats + sn + loaf + heels == 1 ) {
                if (flats == 1 ) {
                    resultsTitle = "Gekks for Flats"
                    resultsDescription = "Gekks and Flats go together like peanut butter and jelly. Don't believe us? Check them out for yourself!"
                    resultsLink= "/products/flats-version"
                    $('#flats-results').show(); 
                }
                else if (sn == 1 ) {
                    resultsTitle = "Sneakers & Lace-Ups"
                    resultsDescription = "From the gym to the office, Gekks keep your favorite sneakers stink free."
                    $('#sn-results').show(); 
                    if (mens == true) {
                        resultsLink= "/products/sneaker-version"
                    }
                    else {                        
                        resultsLink= "/products/womens-sneaker-version"
                    }
                }
                else if (loaf == 1 ) {
                    resultsTitle = "Loafers & Slip-Ons"
                    resultsDescription = "The ultimate in convenience just got more convenient. Combine your Loafers with Gekks and see what you have been missing."
                    $('#loaf-results').show(); 
                    if (mens == true ) {
                        resultsLink= "/products/loafer-version"
                    }
                    else {
                        resultsLink= "/products/womens-loafer-version"
                    }

                }
                else if (heels == 1 ) {
                    resultsTitle =  "Gekks for Heels"
                    resultsDescription = "Don’t let blisters ruin your look. Gekks keep your feet (and heels!) fresh while preventing blisters. "
                    resultsLink= "/products/heels"

                    $('#heels-results').show(); 
                }
            }
            else if (flats + sn + loaf + heels == 2 ){
                if (flats == 1 && heels == 1) {
                    resultsTitle = "The Office Pack"
                    resultsDescription = "Two pairs of Gekks for Heels and two pairs of Gekks for Flats"
                    resultsLink= "/collections/women?rec=office-pack"
                    $('#office-results').show(); 
                }
                else if (flats == 1 && loaf ==1) {
                    resultsTitle = "The Casual Pack"
                    resultsDescription = "Two pairs of Gekks for Flats and two pairs of Gekks for Loafers"
                    resultsLink= "/collections/women?rec=casual-pack"
                    $('#casual-results').show(); 
                }
                else if (flats == 1 && sn == 1 ) {
                    resultsTitle = "Womens Closet Pack"
                    resultsDescription = "Two pairs of Gekks for flats, one pair of Gekks for loafers, one pair of Gekks for sneakers, and one pair of Gekks for heels"
                    resultsLink= "/collections/women?rec=wcpak"
                    $('#wcpak-results').show(); 

                }
            }
            else if   (mens == true ) {
                    resultsTitle = "Mens Closet Pack"
                    resultsDescription = "Two pairs of Gekks for Loafers and two pairs of Gekks for Sneakers"
                    resultsLink= "/collections/all?rec=mencpak"
                    $('#mens-results').show(); 

                } 
            else {

                    resultsTitle = "The Trial Pack"
                    resultsDescription = "One pair of Gekks for Flats, one pair of Gekks for Heels, one pair Gekks for Loafers, and one pair of Gekks for Sneakers"
                    resultsLink= "/collections/women?rec=trial"
                    $('#trial-results').show(); 

                }
                    $('#rtitle').text(resultsTitle); 
            $('#rdescription').text(resultsDescription); 
            $('#rlink').attr("href", resultsLink); 
            createCookie("customGekks", resultsLink, 7)
            nextSlide($(this))
        }
        else {
            $(this).siblings('.error').show(); 
        }
    })
    // flip animations 
    $('.back-card').click(function() {
        $(this).prev().find('li').removeClass('highlight')
    })
    $('.flip-container').click(function () {
      $(this).children('.flipper').toggleClass('flipped'); 
    })
    $('.back').click(function() {
        $(this).parent().parent().hide().prev().fadeIn();
    })
</script>

