<main id="product" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}">
  </section>
  
    <section id="product-images">
      {% if product.type == "Glove" %}
              <h3 class="mobile-title-glove tac" style="">SL<span style="font-weight: 300;">VR</span> Antimicrobial Gloves by Gekks</h3>
              <style>
                @media only screen and (min-width: 800px) {
                  .mobile-title-glove { display: none; }
                }
              </style>
        {% endif %}
       {% unless product.type == "Gift Card" %}
          <div id="thumbnails" class="ndo-plus">
            <ul>
              {% for image in product.images limit: 1 %}
              <li><img src="{{ image | product_img_url: 'compact' }}" class="border-lightgray product-image first-thumb" alt="{{ product.title }}"/></li>
              {% endfor %} 
               {% for image in product.images limit: 5 offset: 1 %}
              <li><img src="{{ image | product_img_url: 'compact' }}" class="product-image" alt="{{ product.title }}"/></li>
              {% endfor %} 
            </ul>
          </div>
        {% endunless %}
        <div class="featured-wrapper">
        <img src="{{ product.featured_image.src | product_img_url: '2000x2000' }}" alt="{{ product.title }}" id="featured-image" class="main-image"/>
        </div>
        {% unless product.type == "Gift Card" %}
          <div id="thumbnails" class="mo-plus" style="display: none;">
            <ul>
              {% for image in product.images limit: 1 %}
              <li><img src="{{ image | product_img_url: 'compact' }}" class="border-lightgray product-image first-thumb" alt="{{ product.title }}"/></li>
              {% endfor %} 
               {% for image in product.images limit: 5 offset: 1 %}
              <li><img src="{{ image | product_img_url: 'compact' }}" class="product-image" alt="{{ product.title }}"/></li>
              {% endfor %} 
            </ul>
          </div>
          {% endunless %}
    </section>
    {% include 'product-add-to-cart' %}



{% if product.type != "Glove" %}
  <section class="fw endorsements-features" id="featured">
    <ul class="background-beige">
      <li><p>endorsed by</p></li>
      {% if product.collections.first.title == "Men" %}
      {% include 'endorsed_by_m' %}
      {% else %}
      {% include 'endorsed_by_w' %} 
      {% endif %} 
    </ul>
  </section>


  <section id="key-features" class="index-padding">
    <div class="title-border"></div>
    <h2>Give Gekks a Go</h2>
    <ul class="icon-display">
      <li data-aos="slide-up"><img data-src="{{'sweat.svg' | asset_url}}" alt="Sweat Reducing" class="lazyload"/><br><span class="text-green">stench control</span><br><p class="subscript">antimicrobial yarn eliminates the sockless stench</p></li> 
      <li class="do" data-aos="slide-up"><img data-src="{{'comfortable.svg' | asset_url}}" alt="Comfortable" class="lazyload" /><br><span class="text-green">comfortable</span><br><p class="subscript">55% polyester, 39% nylon, 6% silver coated nylon</p></li> 
      <li data-aos="slide-up"><img data-src="{{'longlasting.svg' | asset_url}}" alt="Long Lasting" class="lazyload"/><br><span class="text-green">long lasting</span><p class="subscript">adhesive pads come with two layers to make your Gekks and your soles last longer</p></li> 
    </ul>
    <ul class="icon-display">
      <li data-aos="slide-up"><img data-src="{{'convenient.svg' | asset_url}}" alt="Convenient" class="lazyload"/><br><span class="text-green">convenient</span><p class="subscript">slip in and out barefoot using our patented fastening system</p></li> 
      <li class="do" data-aos="slide-up"><img data-src="{{'ecofriendly.svg' | asset_url}}" alt="Eco-Friendly" class="lazyload"/><br><span class="text-green">eco-friendly</span><p class="subscript">REPREVE yarn to help you reduce your carbon footprint</p></li> 
      <li data-aos="slide-up"><img data-src="{{'fashionforward.svg' | asset_url}}" alt="Fashion Forward" class="lazyload"/><br><span class="text-green">fashion forward</span><p class="subscript">rock that sockless style with all your shoe choices</p></li> 
    </ul>
    <ul class="icon-display mo">
      <li data-aos="slide-up"><img data-src="{{'ecofriendly.svg' | asset_url}}" alt="Eco-Friendly" class="lazyload"/><br><span class="text-green">eco-friendly</span><p class="subscript">REPREVE yarn, made from recycled bottles, to help you reduce your carbon footprint</p></li> 
      <li data-aos="slide-up"><img data-src="{{'comfortable.svg' | asset_url}}" alt="Comfortable"  class="lazyload"/><br><span class="text-green">comfortable</span><br><p class="subscript">55% polyester, 39% nylon, 6% silver coated nylon</p></li> 
    </ul>
  </section>
  {% unless product.type == "Pre-Built Bundle" %}
  <section class="index-padding-bo tac" id="product-masonry">
  {% capture photo_source %}grid-{{product.id}}.png{% endcapture %}
    <img class="fw lazyload" data-src="{{ photo_source | asset_url }}" alt="{{product.title}} lifestyle collage"/>
  </section>
  {% endunless %}
  

  {% if product.collections.first.title == "Women" %}
    {% case product.title %}
      {% when "Ballet Flats" %}
        {% assign review_id = 2 %}
      {% when "Heels & Wedges" %}
        {% assign review_id = 5 %}
      {% when "Sneakers & Lace-Ups" %}
        {% assign review_id = 4 %}
      {% when "Loafers & Slip-Ons" %}
         {% assign review_id = 3 %}
    {% endcase %}
    {% else %}
      {% case product.title %}
        {% when "Sneakers & Lace-Ups" %}
          {% assign review_id = 7 %}
        {% when "Loafers & Slip-Ons" %}
           {% assign review_id = 6 %}
      {% endcase %}
    {% endif %}
    {% case product.title %}
      {% when "The Casual Pack" %}
        {% assign review_id = 17 %}
      {% when "The Casual Pack Lite" %}
        {% assign review_id = 18 %}
      {% when "The Office Pack" %}
        {% assign review_id = 21 %}
      {% when "The Shoe Lover" %}
        {% assign review_id = 23 %}
      {% when "The Trial Pack" %}
        {% assign review_id = 24 %}
      {% when "The Women's Closet Pack" %}
        {% assign review_id = 25 %}
    {% endcase %}
  {% if review_id %}
    <iframe src="https://gekksworks.herokuapp.com/products/{{review_id}}" id="iFrame1"/> </iframe>
<style>
#iFrame1 {
    width: 1px;
    min-width: 100%;
    border: none;
  }
</style> 
<script>

 $("#iFrame1").on("load", function () {
  $('#iFrame1').iFrameResize( [{
    checkOrigin:false,
    log:true,
    minHeight:15000,
    heightCalculationMethod:'lowestElement'
  }] );
});
</script>
{% endif %}
{% else %}
<style>
  #product-images { vertical-align: top }
@media only screen and (max-width: 799px) {
#product form {
    display: inherit;
    width: 90%;
    margin: 20px auto;
    text-align: center;

}
.glove-title { display: none; }
}

</style>
{% comment %}<section class="accent-padding background-beige tac">
  <img src="{{'comparison.png' | asset_url}}" style="max-width: 100%;display: block; margin: 0 auto;"/>
</section>{% endcomment %}

 
{% comment %}<section id="key-features" class="index-padding">
    <div class="title-border"></div>
    <h2>About SLVR Gloves</h2>
    <ul class="icon-display">
            <li data-aos="slide-up"><img data-src="{{'SLVRIcons_Ideation-01.png' | asset_url}}" alt="Convenient" class="lazyload"/><br><span class="text-green">Silver</span></li> 

            <li data-aos="slide-up"><img data-src="{{'SLVRIcons_Ideation-02.png' | asset_url}}" alt="Sweat Reducing" class="lazyload"/><br><span class="text-green">Antimicrobial</span></li> 
      <li class="" data-aos="slide-up"><img data-src="{{'SLVRIcons_Ideation-03.png' | asset_url}}" alt="Comfortable" class="lazyload" /><br><span class="text-green">Moisture Wicking</span></li> 

    </ul>
    <ul class="icon-display">
      <li data-aos="slide-up"><img data-src="{{'SLVRIcons_Ideation-04.png' | asset_url}}" alt="Long Lasting" class="lazyload"/><br><span class="text-green">Comfortable</span></li> 
      <li class="" data-aos="slide-up"><img data-src="{{'SLVRIcons_Ideation-06.png' | asset_url}}" alt="Eco-Friendly" class="lazyload"/><br><span class="text-green">Sustainable</span></li> 
     </ul>
  </section>{% endcomment %}



<style>
  @media only screen and (min-width: 1100px) {
    #slvr-hiw {
      width: 1100px;
      margin: 0 auto;
    }
    #slvr-phone {
      top: 136px;
      left: 107px;
    }
    #slvr-sustainable  {
      top: 194px;
      left: 686px;
    }
    #slvr-wash {
      top: 296px;
      right: 198px;
    }
    #slvr-thin {
      top: 451px;
      left: 437px;
    }
    #slvr-silver {
      top: 673px;
      right: 495px;
    } 
    #slvr-moisture {
      top: 608px;
      left: 139px;
    }
  }
  @media only screen and (min-width: 800px) and (max-width: 1099px) {
    #slvr-hiw {
      width: 800px;
      margin: 0 auto;
    }
      #slvr-phone  {
      top: 104px;
      left: 54px;
    }
    #slvr-sustainable  {
      top: 144px;
      left: 476px;
    }
    #slvr-wash {
      top: 222px;
      right: 200px;
    }
    #slvr-thin {
      top: 332px;
      left: 263px;
    }
    #slvr-silver {
      top: 498px;
      right: 456px; 
    }
    #slvr-moisture  {
      top: 449px;
      left: 7px;
    }
  }
  @media only screen and (min-width: 589px) and (max-width: 799px) {
    #slvr-hiw {
      width: 589px;
      margin: 0 auto;
    }
    #slvr-phone  {
      top: 172px;
      left: -1px;
    }
    #slvr-sustainable  {
      top: 202px;
      left: 310px;
    }
    #slvr-wash { 
      top: 263px;
      right: 240px;
    }
    #slvr-thin {
      top: 339px;
      left: 101px;
    }
    #slvr-silver{
      top: 382px;
      left: 7px;
    }
    #slvr-moisture  {
      top: 340px;
      left: 347px;
    }
  }
  @media only screen and (min-width: 450px) and (max-width: 588px) {
    #slvr-hiw {
      width: 450px;
      margin: 0 auto;
    }
    #slvr-phone  {
      top: 172px;
      left: -1px;
    }
    #slvr-sustainable  {
      top: 202px;
      left: 310px;
    }
    #slvr-wash { 
      top: 263px;
      right: 240px;
    }
    #slvr-thin {
      top: 339px;
      left: 101px;
    }
    #slvr-silver{
      top: 382px;
      left: 7px;
    }
    #slvr-moisture  {
      top: 340px;
      left: 347px;
    }
  }
  @media only screen and (min-width: 351px) and (max-width: 449px) {
    #slvr-hiw {
      width: 331px;
      margin: 0 auto;
    }
     #slvr-phone {
    top: 101px;
    left: -3px;
}
#slvr-sustainable {
    top: 119px;
    left: 169px;
}
    #slvr-wash {
    top: 155px;
    right: 146px;
}
    #slvr-thin {
    top: 196px;
    left: 43px;
}
    #slvr-silver {
    top: 218px;
    left: 2px;
}
    #slvr-moisture {
    top: 194px;
    left: 191px;
}
    #slvr-hiw p { font-size: 7pt; }
  }
    @media only screen and (max-width: 350px) {
    #slvr-hiw {
      width: 300px;
      margin: 0 auto;
    }
    #slvr-phone{
    top: 88px;
    left: 2px;
}
    #slvr-sustainable {
    top: 103px;
    left: 157px;
}
    #slvr-wash {
    top: 135px;
    right: 123px;
}
    #slvr-thin {
    top: 174px;
    left: 49px;
}
    #slvr-silver{
    top: 196px;
    left: 4px;
}
    #slvr-moisture  {
    top: 175px;
    left: 175px;
}
    #slvr-hiw p { font-size: 6pt; }
  }
  #slvr-hiw p {
    display: inline-block;
    position: relative;
  }
</style>




<section class="accent-padding" id="slvr-hiw">
  <p id="slvr-phone"><b>smartphone friendly</b></p>
   <p id="slvr-sustainable"><b>sustainable</b></p>
  <p id="slvr-wash" class="tar"><b>machine wash<br> & dry</b></p>
  <p id="slvr-thin"><b>thin & comfortable</b></p>
  <p id="slvr-silver" class="tar"><b>silver<br> antimicrobial<br> infused fiber</b></p>
    <p id="slvr-moisture"><b>moisture wicking/ <br>cooling</b></p>

    <img src="{{'slvr-hiw.png' | asset_url}}" style="max-width: 100%;display: block;" class="ma"/>

  </section>
<section class="accent-padding" style="max-width: 1100px; margin: 0 auto;">
  <h3 class="tac ttu text-green"><span style="font-weight: 300;">Your Purchase will help us continue to</span> Donate Gloves <span style="font-weight: 300">to other organizations in need</span></h3>
    <img src="{{'donation-map.jpeg' | asset_url}}" style="max-width: 100%;display: block;" class="ma"/>
    <img src="{{'donationlogos.jpg' | asset_url}}" style="max-width: 100%;display: block;" class="ma" />
  </section>
{% comment %}  <section class="accent-padding">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rcIyldBHsmk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="ma" style="display: block; max-width: 100%;"></iframe>
  </section>{% endcomment %}
  {% endif %}

</main>
<script>
  $('.color').change(function() {
    if ("{{product.title}}" == "Heels & Wedges") {
      if ($(this).hasClass('nude')) {
        var src = "//cdn.shopify.com/s/files/1/0424/0893/products/Nude_Heel_3_1000x1000.jpg?v=1529528675"
        $('#featured-image').attr("src", src)
        }
      else if ($(this).hasClass('black')) {
        $('#featured-image').attr("src","//cdn.shopify.com/s/files/1/0424/0893/products/Womens_BlackHeel_1000x1000.jpg?v=1529528675")
      }
    }
    else if ("{{product.title}}" == "Ballet Flats") {
      if ($(this).hasClass('nude')) {
        $('#featured-image').attr("src","//cdn.shopify.com/s/files/1/0424/0893/products/Nude_Flat_Bare_1000x1000.jpg?v=1529418978")
      }
      else if ($(this).hasClass('black')) {
        $('#featured-image').attr("src","//cdn.shopify.com/s/files/1/0424/0893/products/Black_Flat2_1000x1000.jpg?v=1529418978")
      }
    }
    else if ("{{product.title }}" == "Loafers & Slip-Ons" && 
    "{{product.collections.first.title}}" == "Women") {
      if ($(this).hasClass('green')) {
        $('#featured-image').attr("src", "//cdn.shopify.com/s/files/1/0424/0893/products/1_Green_1000x1000.jpg?v=1573059225"); 
        $('img.first-thumb').attr("src", "//cdn.shopify.com/s/files/1/0424/0893/products/1_Green_compact.jpg?v=1573059225").addClass('border-lightgray').parents().siblings().children().removeClass('border-lightgray'); 
      }
      else if ($(this).hasClass('blue')) {
        $('#featured-image').attr("src", "//cdn.shopify.com/s/files/1/0424/0893/products/1_Blue_1000x1000.jpg?v=1573059225"); 
        $('img.first-thumb').attr("src", "//cdn.shopify.com/s/files/1/0424/0893/products/1_Blue_compact.jpg?v=1573059225").addClass('border-lightgray').parents().siblings().children().removeClass('border-lightgray'); 
      }
      else if ($(this).hasClass('rose')) {
        $('#featured-image').attr("src", "//cdn.shopify.com/s/files/1/0424/0893/products/1_Pink_1000x1000.jpg?v=1573059225"); 
        $('img.first-thumb').attr("src", "//cdn.shopify.com/s/files/1/0424/0893/products/1_Pink_compact.jpg?v=1573059225").addClass('border-lightgray').parents().siblings().children().removeClass('border-lightgray');
      }
      else if ($(this).hasClass('black')) {
          $('#featured-image').attr("src", "//cdn.shopify.com/s/files/1/0424/0893/products/1_Black_1000x1000.jpg?v=1573059225"); 
        $('img.first-thumb').attr("src", "//cdn.shopify.com/s/files/1/0424/0893/products/1_Black_compact.jpg?v=1573059225").addClass('border-lightgray').parents().siblings().children().removeClass('border-lightgray');      }
    }
    else if ("{{product.title }}" == "Sneakers & Lace-Ups"  && 
    "{{product.collections.first.title}}" == "Women") {
      if ($(this).hasClass('green')) {
        $('#featured-image').attr("src", "//cdn.shopify.com/s/files/1/0424/0893/products/1_Green_e7070e83-413b-452b-99e0-44e851c33237_2000x2000.jpg?v=1573061484"); 
        $('img.first-thumb').attr("src", "//cdn.shopify.com/s/files/1/0424/0893/products/1_Green_e7070e83-413b-452b-99e0-44e851c33237_compact.jpg?v=1573061484").addClass('border-lightgray').parents().siblings().children().removeClass('border-lightgray'); 
      }
      else if ($(this).hasClass('blue')) {
        $('#featured-image').attr("src", "//cdn.shopify.com/s/files/1/0424/0893/products/1_Blue_d5743e15-32c4-4807-bb27-969949028ab3_1000x1000.jpg?v=1573060125"); 
        $('img.first-thumb').attr("src", "//cdn.shopify.com/s/files/1/0424/0893/products/1_Blue_d5743e15-32c4-4807-bb27-969949028ab3_compact.jpg?v=1573060125").addClass('border-lightgray').parents().siblings().children().removeClass('border-lightgray'); 
      }
      else if ($(this).hasClass('rose')) {
        $('#featured-image').attr("src", "//cdn.shopify.com/s/files/1/0424/0893/products/1_Pink_48019095-8d90-46f6-a273-1eee45fff410_1000x1000.jpg?v=1573060217"); 
        $('img.first-thumb').attr("src", "//cdn.shopify.com/s/files/1/0424/0893/products/1_Pink_48019095-8d90-46f6-a273-1eee45fff410_compact.jpg?v=1573060217").addClass('border-lightgray').parents().siblings().children().removeClass('border-lightgray'); 
      }
      else if ($(this).hasClass('black')) {
        $('#featured-image').attr("src", "//cdn.shopify.com/s/files/1/0424/0893/products/1_Black_8de7d893-b782-4a4d-bff8-cfe62d437f41_1000x1000.jpg?v=1573055042"); 
        $('img.first-thumb').attr("src", "//cdn.shopify.com/s/files/1/0424/0893/products/1_Black_8de7d893-b782-4a4d-bff8-cfe62d437f41_compact.jpg?v=1573055042").addClass('border-lightgray').parents().siblings().children().removeClass('border-lightgray');       }
    }
    $('.product-image').each(function() {
      if ($(this).attr("src").replace("compact", "1000x1000") == $('#featured-image').attr("src")) {

  let url = $('#featured-image').attr("src")
  $('.featured-wrapper').zoom(({url: url}));

  $(this).addClass('border-lightgray').parent().siblings().children().removeClass('border-lightgray'); 
      }
    }); 
  })
    
</script>
{% unless product.title == "Select" %}
<script text="text/javascript">
$(document).ready(function(){
  let url = $('#featured-image').attr("src")
  $('.featured-wrapper').zoom(({url: url}));
});

  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);

  var _learnq = _learnq || [];
  document.getElementById("add-cart").addEventListener('click',function (){
    _learnq.push(['track', 'Added to Cart', item]);
  });
</script>
{% if product.variants.size > 1 %}
<script>
  var variantImages = [],
    variant,
    variantImage
    
    {% for variant in product.variants %}
       variant = {{ variant | json }};
       if ( typeof variant.featured_image !== 'undefined' && variant.featured_image !== null ) {
         variantImage =  variant.featured_image.src.split('?')[0].replace(/http(s)?:/,'');
         variantImages.push(variantImage)
          
       }
    {% endfor %}
    {% if product.type == "Pre-Built Bundle" or product.type == "Glove" %}
      $('.color').change(function() {
        var imageIndex = $(this).data("index")
        $('#featured-image').attr("src", variantImages[imageIndex])
          let url = $('#featured-image').attr("src")
  $('.featured-wrapper').zoom(({url: url}));

        $('.product-image').removeClass('border-lightgray')
        $('.first-thumb:visible').attr("src", variantImages[imageIndex]).addClass('border-lightgray')
      })
    {% endif %}
</script> 
{% endif %}
{% endunless %}
{% for variant in product.variants %}
  <img src="{{ variant.featured_image.src | img_url: 'master'}}" style="display: none;"/>
{% endfor %} 
